---
hostname: adonalsium

### Install packages with grog.package
package_list:
  - name: acl
  - name: corosync-qdevice
  - name: pve-headers
  - name: git
  - name: ifupdown2
  - name: libgl1
  - name: libegl1
  - name: intel-gpu-tools
  - name: restic
  - name: sudo
  - name: screen
  - name: wireguard

### Pip Packages
pip_packages:
  - proxmoxer

### Disks
mergerfs_mount:
  - path: /mnt/Media

external_mount:
  - path: /media/external_hdd

parity_disks:
  - path: /mnt/parity1
    source: /dev/disk/by-id/ata-WDC_WD180EDGZ-11B2DA0_4TG32E7Y-part1
    fs: ext4
    opts: defaults
    content: false

data_disks:
  - path: /mnt/disk1
    source: /dev/disk/by-id/ata-WDC_WD140EDGZ-11B1PA0_81GE39SV-part1
    fs: ext4
    opts: defaults
    content: true
  - path: /mnt/disk2
    source: /dev/disk/by-id/ata-WDC_WD140EDGZ-11B1PA0_9LK5AR2G-part1
    fs: ext4
    opts: defaults
    content: true
  - path: /mnt/disk3
    source: /dev/disk/by-id/ata-WDC_WD100EMAZ-00WJTA0_JEGRB9VN-part1
    fs: ext4
    opts: defaults
    content: true
  - path: /mnt/disk4
    source: /dev/disk/by-id/ata-ST18000NE000-3G6101_ZVTBSV1T-part1
    fs: ext4
    opts: defaults
    content: true

fstab_mergerfs:
  - source: "/mnt/disk*"
    mountpoint: "/mnt/Media"
    fs: fuse.mergerfs
    opts: "defaults,nonempty,allow_other,use_ino,cache.files=off,moveonenospc=true,category.create=mfs,dropcacheonclose=true,minfreespace=100G,fsname=mergerfs"

cifs_mount:
  - path: "/mnt/local_backup"
    source: "//192.168.1.5/Backup"
    fs: cifs
    opts: "_netdev,noauto,nofail,x-systemd.automount,uid=1000,gid=1000,credentials=/home/{{ main_username }}/.smbcredentials"

### Infrastructure
lxc_vlans:
  - name: Honor
    vmid: 200
    privileged: false
    gw: 192.168.50.1
    ip: 192.168.50.10
    tag: 50
    disk: 'local-lvm:15'
    cores: 2
    memory: 1024
    nesting: 1
    keyctl: 1
  - name: Invention
    vmid: 210
    privileged: false
    gw: 192.168.30.1
    ip: 192.168.30.7
    tag: 30
    disk: 'local-lvm:15'
    cores: 4
    memory: 4096
    nesting: 1
    keyctl: 1
    onboot: false
  - name: Autonomy
    vmid: 251
    privileged: true
    gw: 192.168.30.1
    ip: 192.168.30.5
    tag: 30
    disk: 'local-lvm:55'
    cores: 6
    memory: 6144
    swap: 1024
    nesting: 1
    keyctl: 1
  - name: Cultivation
    vmid: 252
    privileged: false
    gw: 192.168.50.1
    ip: 192.168.50.21
    tag: 50
    disk: 'local-lvm:35'
    cores: 4
    memory: 5632
    nesting: 1
    keyctl: 1
  - name: Preservation
    vmid: 253
    privileged: false
    gw: 192.168.50.1
    ip: 192.168.50.22
    tag: 50
    disk: 'local-lvm:50'
    cores: 4
    memory: 3072
    nesting: 1
    keyctl: 1

lxc_mounts:
  - name: Endowment
    vmid: 250
    privileged: true
    gw: 192.168.50.1
    ip: 192.168.50.20
    bridge: vmbr2
    disk: 'local-lvm:65'
    cores: 8
    memory: 4096
    nesting: 1
    keyctl: 0
    fsmount: cifs

vm_uefi:
  - name: Virtuosity
    vmid: 310
    bridge: vmbr1
    tag: 50
    disk: local-lvm:80
    cores: 8
    cpu_type: host
    memory: 12288
    balloon: 2048
    bios: ovmf
    onboot: true
    iso: ubuntu-24.04-live-server-amd64.iso
    pcie: '0000:01:00'

### LNXLink
lnxlink_bash: true
lnxlink_temperature: true
lnxlink_diskuse: true
lnxlink_mounts: true

### Bash Aliases
bash_docker: true
bash_autorestic: true
bash_systemctl: true
bash_apt: true

### Variables
pull_backup: false
infrastructure: false
# mergerfs_ver: 2.32.4
# nag_ver: 0.0.7

### Cronjobs
cronjobs:
  - name: Scrutiny
    job: /usr/local/bin/runitor -uuid {{ secret_hc_adonalsium_scrutiny }} -- docker exec scrutiny /opt/scrutiny/bin/scrutiny-collector-metrics run > /dev/null 2>&1
    user: "{{ main_username }}"
    minute: 0
    hour: '*/6'
  - name: Restic Prune
    job: /usr/local/bin/runitor -uuid {{ secret_hc_restic_prune_adonalsium }} -- /usr/local/bin/autorestic forget -a --prune
    user: "{{ main_username }}"
    minute: 0
    hour: 1
    weekday: 1
  - name: Restic Check
    job: /usr/local/bin/runitor -uuid {{ secret_hc_restic_check_adonalsium }} -- /usr/local/bin/autorestic check
    user: "{{ main_username }}"
    minute: 30
    hour: 3
    day: 1
  - name: Media Backup (Docker)
    job: /usr/local/bin/runitor -uuid {{ secret_hc_restic_backup_adonalsium_docker }} -- /usr/local/bin/autorestic backup -l docker -c /home/{{ main_username }}/.autorestic.yml
    user: root
    minute: 45
    hour: 23
  - name: Media Backup (Everything Else)
    job: /usr/local/bin/runitor -uuid {{ secret_hc_restic_backup_adonalsium_all }} -- /usr/local/bin/autorestic backup -l photos -l immich -l files -l music -l audiobooks -l ebooks -c /home/{{ main_username }}/.autorestic.yml
    user: root
    minute: 15
    hour: 1
    weekday: 0,3,5
  - name: Run Trim
    job: /usr/local/bin/runitor -uuid {{ secret_hc_adonalsium_trim }} -- /bin/bash /home/{{ main_username }}/trim.sh
    user: root
    minute: 0
    hour: 10
    weekday: 1
  - name: CPU Governor
    job: "echo 'ondemand' | tee /sys/devices/system/cpu/cpu*/cpufreq/scaling_governor"
    user: root
    special_time: reboot

### Autorestic Config
autorestic_config_user: "{{ main_username}}"
autorestic_config_directory: "/home/{{ main_username}}"
autorestic_run_check: false
autorestic_config_yaml:
  version: 2
  backends:
    local_docker:
      type: rest
      path: 'http://192.168.1.5:8500/adonalsium'
      key: "{{ secret_restic_repo_password }}"
      rest:
        user: "{{ secret_restic_rest_user }}"
        password: "{{ secret_restic_rest_password }}"
    local_photos:
      type: rest
      path: 'http://192.168.1.5:8500/media/photos'
      key: "{{ secret_restic_repo_password }}"
      rest:
        user: "{{ secret_restic_rest_user }}"
        password: "{{ secret_restic_rest_password }}"
    local_immich:
      type: rest
      path: 'http://192.168.1.5:8500/media/immich'
      key: "{{ secret_restic_repo_password }}"
      rest:
        user: "{{ secret_restic_rest_user }}"
        password: "{{ secret_restic_rest_password }}"
    local_music:
      type: rest
      path: 'http://192.168.1.5:8500/media/music'
      key: "{{ secret_restic_repo_password }}"
      rest:
        user: "{{ secret_restic_rest_user }}"
        password: "{{ secret_restic_rest_password }}"
    local_audiobooks:
      type: rest
      path: 'http://192.168.1.5:8500/media/audiobooks'
      key: "{{ secret_restic_repo_password }}"
      rest:
        user: "{{ secret_restic_rest_user }}"
        password: "{{ secret_restic_rest_password }}"
    local_ebooks:
      type: rest
      path: 'http://192.168.1.5:8500/media/ebooks'
      key: "{{ secret_restic_repo_password }}"
      rest:
        user: "{{ secret_restic_rest_user }}"
        password: "{{ secret_restic_rest_password }}"
    local_files:
      type: rest
      path: 'http://192.168.1.5:8500/media/files'
      key: "{{ secret_restic_repo_password }}"
      rest:
        user: "{{ secret_restic_rest_user }}"
        password: "{{ secret_restic_rest_password }}"
    b2_docker:
      type: b2
      path: "{{ secret_restic_b2_bucket }}:/adonalsium"
      key: "{{ secret_restic_repo_password }}"
      env:
        - B2_ACCOUNT_ID: "{{ secret_restic_b2_account_id }}"
        - B2_ACCOUNT_KEY: "{{ secret_restic_b2_account_key }}"
    b2_photos:
      type: b2
      path: "{{ secret_media_b2_bucket }}:/photos"
      key: "{{ secret_restic_repo_password }}"
      env:
        - B2_ACCOUNT_ID: "{{ secret_media_b2_account_id }}"
        - B2_ACCOUNT_KEY: "{{ secret_media_b2_account_key }}"
    b2_music:
      type: b2
      path: "{{ secret_media_b2_bucket }}:/music"
      key: "{{ secret_restic_repo_password }}"
      env:
        - B2_ACCOUNT_ID: "{{ secret_media_b2_account_id }}"
        - B2_ACCOUNT_KEY: "{{ secret_media_b2_account_key }}"
    b2_audiobooks:
      type: b2
      path: "{{ secret_media_b2_bucket }}:/audiobooks"
      key: "{{ secret_restic_repo_password }}"
      env:
        - B2_ACCOUNT_ID: "{{ secret_media_b2_account_id }}"
        - B2_ACCOUNT_KEY: "{{ secret_media_b2_account_key }}"
    b2_ebooks:
      type: b2
      path: "{{ secret_media_b2_bucket }}:/ebooks"
      key: "{{ secret_restic_repo_password }}"
      env:
        - B2_ACCOUNT_ID: "{{ secret_media_b2_account_id }}"
        - B2_ACCOUNT_KEY: "{{ secret_media_b2_account_key }}"
    b2_files:
      type: b2
      path: "{{ secret_media_b2_bucket }}:/files"
      key: "{{ secret_restic_repo_password }}"
      env:
        - B2_ACCOUNT_ID: "{{ secret_media_b2_account_id }}"
        - B2_ACCOUNT_KEY: "{{ secret_media_b2_account_key }}"
      options:
        backup:
          exclude:
            - '*.iso'
            - '*.rvz'
            - '*.nsp'
            - '*.xci'
            - '.mp4'
            - '.mpeg'
            - '.wmv'
            - '.avi'

  locations:
    docker:
      from: '/home/{{ main_username }}/docker'
      to:
        - local_docker
        - b2_docker
      options:
        forget:
          keep-daily: 1
          keep-weekly: 8
          keep-monthly: 3
        backup:
          exclude:
            - 'model_cache'
    photos:
      from: '/mnt/Media/Photos'
      to:
        - local_photos
        - b2_photos
      options:
        forget:
          keep-daily: 1
          keep-weekly: 8
          keep-monthly: 3
    immich:
      from: '/mnt/Media/Immich'
      to:
        - local_immich
      options:
        forget:
          keep-daily: 1
          keep-weekly: 8
          keep-monthly: 3
    music:
      from: '/mnt/Media/Music'
      to:
        - local_music
        - b2_music
      options:
        forget:
          keep-daily: 1
          keep-weekly: 8
          keep-monthly: 3
    audiobooks:
      from: '/mnt/Media/Audiobooks'
      to:
        - local_audiobooks
        - b2_audiobooks
      options:
        forget:
          keep-daily: 1
          keep-weekly: 8
          keep-monthly: 3
    ebooks:
      from: '/mnt/Media/Ebooks'
      to:
        - local_ebooks
        - b2_ebooks
      options:
        forget:
          keep-daily: 1
          keep-weekly: 8
          keep-monthly: 3
    files:
      from: '/mnt/Media/Files'
      to:
        - local_files
        - b2_files
      options:
        backup:
          exclude:
            - 'Takeout'
            - 'arch'
        forget:
          keep-daily: 1
          keep-weekly: 8
          keep-monthly: 3

### Snapraid Config
snapraid_force_install: false
snapraid_install: true
snapraid_runner: true
snapraid_data_disks:
  - path: /mnt/disk1
    content: true
  - path: /mnt/disk2
    content: true
  - path: /mnt/disk3
    content: true
  - path: /mnt/disk4
    content: true
snapraid_parity_disks:
  - path: /mnt/parity1
    content: true
snapraid_bin_path: /usr/bin/snapraid
snapraid_runner_email_address_from: "{{ secret_snapraid_email_from }}"
snapraid_runner_email_address_to: "{{ secret_snapraid_email_to }}"
snapraid_runner_email_address: "{{ secret_snapraid_email_address }}"
snapraid_runner_email_pass: "{{ secret_snapraid_email_pass }}"
snapraid_runner_email_subject: "[SnapRAID] Adonalsium Status Report"
snapraid_runner_smtp_host: "{{ secret_snapraid_smtp_host }}"
snapraid_runner_smtp_port: 465
snapraid_runner_use_ssl: true
snapraid_runner_touch: false
snapraid_runner_command: "python3 {{ snapraid_runner_bin }} -c {{ snapraid_runner_conf }}"
snapraid_runner_cron_jobs:
  - {job: '/usr/local/bin/runitor -uuid {{ secret_hc_adonalsium_snapraid }} -- {{ snapraid_runner_command }}', name: 'snapraid_runner', weekday: '*', hour: '04'}
snapraid_config_excludes:
  - "*.unrecoverable"
  - "/tmp/"
  - "/Frigate/"
  - "/lost+found/"
  - "downloads/"
  - "appdata/"
  - "*.!sync"
  - ".AppleDouble"
  - "._AppleDouble"
  - ".DS_Store"
  - "._.DS_Store"
  - ".Thumbs.db"
  - ".fseventsd"
  - ".Spotlight-V100"
  - ".TemporaryItems"
  - ".AppleDB"
  - ".Trash*"
