---
target_os: ubuntu
hostname: autonomy

### Install packages with grog.package
package_list:
  - name: acl
  - name: curl
  - name: git
  - name: htop
  - name: lm-sensors
  - name: net-tools
  - name: mosquitto-clients
  - name: python
  - name: restic
  - name: skopeo
  - name: sudo
  - name: wget

### Pip Packages
pipx_packages:
  - yamllint
  - catt

clone_git: false
pull_backup: false

### LNXLink
lnxlink_bash: true
lnxlink_diskuse: true

### Bash Aliases
bash_docker: true
bash_autorestic: true
bash_systemctl: true
bash_apt: true

### Cronjobs
cronjobs:
  - name: Traffic Commute
    job: /usr/local/bin/runitor -uuid {{ secret_hc_autonomy_traffic }} -- .venv/bin/python3 /home/{{ main_username }}/scripts/google_traffic.py
    user: "{{ main_username }}"
    minute: '*/10'
    hour: 7-8,16-18
    weekday: 1-5
  - name: Traffic Rest of Day
    job: /usr/local/bin/runitor -uuid {{ secret_hc_autonomy_traffic }} -- .venv/bin/python3 /home/{{ main_username }}/scripts/google_traffic.py
    user: "{{ main_username }}"
    minute: '*/30'
    hour: 9-15
    weekday: 1-5
  - name: Waze Daycare
    job: /usr/local/bin/runitor -uuid {{ secret_hc_waze_daycare }} -- .venv/bin/python3 /home/{{ main_username }}/scripts/waze_daycare.py
    user: "{{ main_username }}"
    minute: 29
    hour: 16
    weekday: 1-5
  - name: Waze Home
    job: /usr/local/bin/runitor -uuid {{ secret_hc_waze_home }} -- .venv/bin/python3 /home/{{ main_username }}/scripts/waze_home.py
    user: "{{ main_username }}"
    minute: 29
    hour: 16
    weekday: 1-5
  - name: Waze Live Commute
    job: .venv/bin/python3 /home/{{ main_username }}/scripts/waze_live.py
    user: "{{ main_username }}"
    minute: '*/20'
    hour: 7-8,16-18
    weekday: 1-5
  - name: Docker Version Check
    job: /usr/local/bin/runitor -uuid {{ secret_hc_docker_version_check }} -- bash -c /home/{{ main_username }}/scripts/docker.sh > /dev/null
    user: "{{ main_username }}"
    minute: '*/20'
  - name: Restic Prune
    job: /usr/local/bin/runitor -uuid {{ secret_hc_restic_prune_autonomy }} -- /usr/local/bin/autorestic forget -a --prune
    user: "{{ main_username }}"
    minute: 0
    hour: 22
    weekday: 1
  - name: Restic Check
    job: /usr/local/bin/runitor -uuid {{ secret_hc_restic_check_autonomy }} -- /usr/local/bin/autorestic check
    user: "{{ main_username }}"
    minute: 0
    hour: 2
    day: 1
  - name: Media Backup
    job: /usr/local/bin/runitor -uuid {{ secret_hc_restic_backup_autonomy }} -- /usr/local/bin/autorestic backup -a -c /home/{{ main_username }}/.autorestic.yml
    user: root
    minute: 0
    hour: 0
  - name: Restart Selenium
    job: docker container restart selenium > /dev/null 2>&1
    user: "{{ main_username }}"
    hour: 4
    minute: 30
  - name: Restart Crowdsec
    job: docker container restart crowdsec > /dev/null 2>&1
    user: "{{ main_username }}"
    hour: 1
    minute: 1
    weekday: 0

### Autorestic Config
autorestic_config_user: "{{ main_username}}"
autorestic_config_directory: "/home/{{ main_username}}"
autorestic_run_check: false
autorestic_config_yaml:
  version: 2
  backends:
    local_docker:
      type: rest
      path: 'http://192.168.1.5:8500/autonomy/docker'
      key: "{{ secret_restic_repo_password }}"
      rest:
        user: "{{ secret_restic_rest_user }}"
        password: "{{ secret_restic_rest_password }}"
    local_hass_docker:
      type: rest
      path: 'http://192.168.1.5:8500/autonomy/hass_docker'
      key: "{{ secret_restic_repo_password }}"
      rest:
        user: "{{ secret_restic_rest_user }}"
        password: "{{ secret_restic_rest_password }}"
    local_hass_docker_beta:
      type: rest
      path: 'http://192.168.1.5:8500/autonomy/hass_docker_beta'
      key: "{{ secret_restic_repo_password }}"
      rest:
        user: "{{ secret_restic_rest_user }}"
        password: "{{ secret_restic_rest_password }}"
    b2_docker:
      type: b2
      path: "{{ secret_restic_b2_bucket }}:/autonomy/docker"
      key: "{{ secret_restic_repo_password }}"
      env:
        - B2_ACCOUNT_ID: "{{ secret_restic_b2_account_id }}"
        - B2_ACCOUNT_KEY: "{{ secret_restic_b2_account_key }}"
    b2_hass_docker:
      type: b2
      path: "{{ secret_restic_b2_bucket }}:/autonomy/hass_docker"
      key: "{{ secret_restic_repo_password }}"
      env:
        - B2_ACCOUNT_ID: "{{ secret_restic_b2_account_id }}"
        - B2_ACCOUNT_KEY: "{{ secret_restic_b2_account_key }}"
    b2_hass_docker_beta:
      type: b2
      path: "{{ secret_restic_b2_bucket }}:/autonomy/hass_docker_beta"
      key: "{{ secret_restic_repo_password }}"
      env:
        - B2_ACCOUNT_ID: "{{ secret_restic_b2_account_id }}"
        - B2_ACCOUNT_KEY: "{{ secret_restic_b2_account_key }}"
  locations:
    docker:
      from: '/home/{{ main_username }}/docker'
      to:
        - local_docker
        - b2_docker
      options:
        backup:
          exclude:
            - 'docker/esphome/.esphome/*'
        forget:
          keep-daily: 1
          keep-weekly: 8
          keep-monthly: 3
    hass_docker:
      from: '/home/{{ main_username }}/hass'
      to:
        - local_hass_docker
        - b2_hass_docker
      options:
        backup:
          exclude:
            - 'backups'
            - 'core'
        forget:
          keep-daily: 1
          keep-weekly: 4
          keep-monthly: 2
    hass_docker_beta:
      from: '/home/{{ main_username }}/hass_docker_beta'
      to:
        - local_hass_docker_beta
        - b2_hass_docker_beta
      options:
        forget:
          keep-daily: 1
          keep-weekly: 4
          keep-monthly: 2
