---
hostname: ishap

### Install packages with grog.package
package_list:
  - name: acl
  - name: corosync-qdevice
  - name: pve-headers
  - name: git
  - name: ifupdown2
  - name: libgl1
  - name: libegl1
  - name: intel-gpu-tools
  - name: restic
  - name: screen
  - name: sudo
  - name: wireguard

### Pip Packages
pip_packages:
  - proxmoxer

### Disks
zfs_mount:
  - path: /mnt/Backup

external_mount:
  - path: /media/external_hdd

### Infrastructure
lxc_vlans:
  - name: Dominion
    vmid: 400
    privileged: true
    gw: 192.168.10.1
    ip: 192.168.10.50
    tag: 10
    disk: 'local-lvm:10'
    cores: 2
    memory: 512
  - name: Drone
    vmid: 401
    privileged: false
    gw: 192.168.50.1
    ip: 192.168.50.15
    tag: 50
    disk: 'local-lvm:25'
    cores: 12
    memory: 2048
    nesting: 1
    keyctl: 1
  - name: Identity
    vmid: 402
    privileged: false
    gw: 192.168.50.1
    ip: 192.168.50.23
    tag: 50
    disk: 'local-lvm:50'
    cores: 6
    memory: 6144
    nesting: 1
    keyctl: 1

vm_uefi:
  - name: Whimsy
    vmid: 311
    tag: 50
    cores: 6
    memory: 6144
    balloon: 2048
    onboot: true
    pcie: '0000:03:00.0'

lxc_main:
  - name: Omada
    vmid: 410
    privileged: false
    gw: 192.168.1.1
    ip: 192.168.1.10
    disk: 'local-lvm:15'
    cores: 2
    memory: 2048
    nesting: 1
    keyctl: 1

### LNXLink
lnxlink_bash: true
lnxlink_temperature: true
lnxlink_diskuse: true
lnxlink_mounts: true
lnxlink_shutdown: true

### Bash Aliases
bash_docker: true
bash_autorestic: true
bash_systemctl: true
bash_apt: true

### Variables
pull_backup: false
infrastructure: false
# mergerfs_ver: 2.32.4
# nag_ver: 0.0.7

### Cronjobs
cronjobs:
  - name: Scrutiny
    job: /usr/local/bin/runitor -uuid {{ secret_hc_ishap_scrutiny }} -- docker exec scrutiny /opt/scrutiny/bin/scrutiny-collector-metrics run > /dev/null 2>&1
    user: "{{ main_username }}"
    minute: 0
    hour: '*/6'
  - name: Email Backup
    job: /usr/local/bin/runitor -uuid {{ secret_hc_ishap_email_backup }} -- docker compose run --rm imap-backup
    user: "{{ main_username }}"
    minute: 30
    hour: 8
  - name: Restic Prune
    job: /usr/local/bin/runitor -uuid {{ secret_hc_restic_prune_ishap }} -- /usr/local/bin/autorestic forget -a --prune
    user: "{{ main_username }}"
    minute: 0
    hour: 1
    weekday: 1
  - name: Restic Check
    job: /usr/local/bin/runitor -uuid {{ secret_hc_restic_check_ishap }} -- /usr/local/bin/autorestic exec -a --check
    user: "{{ main_username }}"
    minute: 30
    hour: 3
    day: 1
  - name: Media Backup (Docker)
    job: /usr/local/bin/runitor -uuid {{ secret_hc_restic_backup_ishap_docker }} -- /usr/local/bin/autorestic backup -l docker -c /home/{{ main_username }}/.autorestic.yml
    user: root
    minute: 45
    hour: 23
  - name: Media Backup (Everything Else)
    job: /usr/local/bin/runitor -uuid {{ secret_hc_restic_backup_ishap_all }} -- /usr/local/bin/autorestic backup -l config -l nvr -c /home/{{ main_username }}/.autorestic.yml
    user: root
    minute: 15
    hour: 1
    weekday: 0,3,5
  - name: Run Trim
    job: /usr/local/bin/runitor -uuid {{ secret_hc_ishap_trim }} -- /bin/bash /home/{{ main_username }}/trim.sh
    user: root
    minute: 0
    hour: 10
    weekday: 1
  - name: CPU Governor
    job: "echo 'powersave' | tee /sys/devices/system/cpu/cpu*/cpufreq/scaling_governor"
    user: root
    special_time: reboot

### Autorestic Config
autorestic_config_user: "{{ main_username}}"
autorestic_config_directory: "/home/{{ main_username}}"
autorestic_run_check: false
autorestic_config_yaml:
  version: 2
  backends:
    local_docker:
      type: rest
      path: 'http://192.168.1.5:8500/ishap'
      key: "{{ secret_restic_repo_password }}"
      rest:
        user: "{{ secret_restic_rest_user }}"
        password: "{{ secret_restic_rest_password }}"
    local_config:
      type: rest
      path: 'http://192.168.1.5:8500/config_files'
      key: "{{ secret_restic_repo_password }}"
      rest:
        user: "{{ secret_restic_rest_user }}"
        password: "{{ secret_restic_rest_password }}"
    local_nvr:
      type: rest
      path: 'http://192.168.1.5:8500/nvr'
      key: "{{ secret_restic_repo_password }}"
      rest:
        user: "{{ secret_restic_rest_user }}"
        password: "{{ secret_restic_rest_password }}"
    b2_docker:
      type: b2
      path: "{{ secret_restic_b2_bucket }}:/ishap"
      key: "{{ secret_restic_repo_password }}"
      env:
        - B2_ACCOUNT_ID: "{{ secret_restic_b2_account_id }}"
        - B2_ACCOUNT_KEY: "{{ secret_restic_b2_account_key }}"
    b2_config:
      type: b2
      path: "{{ secret_media_b2_bucket }}:/config_files"
      key: "{{ secret_restic_repo_password }}"
      env:
        - B2_ACCOUNT_ID: "{{ secret_media_b2_account_id }}"
        - B2_ACCOUNT_KEY: "{{ secret_media_b2_account_key }}"
      options:
        backup:
          exclude:
            - '*.iso'
            - '*.bin'
            - '*.img'
    b2_nvr:
      type: b2
      path: "{{ secret_restic_b2_bucket }}:/nvr"
      key: "{{ secret_restic_repo_password }}"
      env:
        - B2_ACCOUNT_ID: "{{ secret_restic_b2_account_id }}"
        - B2_ACCOUNT_KEY: "{{ secret_restic_b2_account_key }}"
  locations:
    docker:
      from: '/home/{{ main_username }}/docker'
      to:
        - local_docker
        - b2_docker
      options:
        forget:
          keep-daily: 1
          keep-weekly: 8
          keep-monthly: 3
    config:
      from: '/mnt/Backup/config'
      to:
        - local_config
        - b2_config
      options:
        forget:
          keep-daily: 1
          keep-weekly: 8
          keep-monthly: 3
    nvr:
      from: '/mnt/Backup/NVR'
      to:
        - local_nvr
        - b2_nvr
      options:
        forget:
          keep-daily: 1
          keep-weekly: 8
          keep-monthly: 3
