---
target_os: ubuntu
hostname: virtuosity

nvidia_driver_version: 550

### Install packages with grog.package
package_list:
  - name: curl
  - name: cron
  - name: cifs-utils
  - name: htop
  - name: net-tools
  - name: sudo
  - name: nano
  - name: restic
  - name: qemu-guest-agent
  - name: wget

pull_backup: false
lnxlink_diskuse: true

### Bash Aliases
bash_docker: true
bash_autorestic: true
bash_systemctl: true
bash_apt: true

### Cronjobs
cronjobs:
  - name: Restic Prune
    job: /usr/local/bin/runitor -uuid {{ secret_hc_restic_prune_virtuosity }} -- /usr/local/bin/autorestic forget -a --prune
    user: "{{ main_username }}"
    minute: 20
    hour: 22
    weekday: 1
  - name: Restic Check
    job: /usr/local/bin/runitor -uuid {{ secret_hc_restic_check_virtuosity }} -- /usr/local/bin/autorestic exec -a --check
    user: "{{ main_username }}"
    minute: 20
    hour: 2
    day: 1
  - name: Media Backup
    job: /usr/local/bin/runitor -uuid {{ secret_hc_restic_backup_virtuosity }} -- /usr/local/bin/autorestic backup -a -c /home/{{ main_username }}/.autorestic.yml
    user: root
    minute: 20
    hour: 0
  - name: Restart Crowdsec
    job: docker container restart crowdsec > /dev/null 2>&1
    user: "{{ main_username }}"
    hour: 1
    minute: 5
    workday: 0

### Mountpoints
mountpoints:
  - path: "/mnt/immich-uploads"
    source: "//192.168.1.10/Media/Immich"
    fs: cifs
    opts: "defaults,uid=1000,gid=1000,credentials=/home/{{ main_username }}/.smbcredentials"
  - path: "/mnt/photos"
    source: "//192.168.1.10/Media/Photos"
    fs: cifs
    opts: "defaults,uid=1000,gid=1000,credentials=/home/{{ main_username }}/.smbcredentials"

### Autorestic Config
autorestic_config_user: "{{ main_username}}"
autorestic_config_directory: "/home/{{ main_username}}"
autorestic_run_check: false
autorestic_config_yaml:
  version: 2
  backends:
    local_docker:
      type: rest
      path: 'http://192.168.1.5:8500/virtuosity'
      key: "{{ secret_restic_repo_password }}"
      rest:
        user: "{{ secret_restic_rest_user }}"
        password: "{{ secret_restic_rest_password }}"
    b2_ddocker:
      type: b2
      path: "{{ secret_restic_b2_bucket }}:/virtuosity"
      key: "{{ secret_restic_repo_password }}"
      env:
        - B2_ACCOUNT_ID: "{{ secret_restic_b2_account_id }}"
        - B2_ACCOUNT_KEY: "{{ secret_restic_b2_account_key }}"
  locations:
    docker:
      from: '/home/{{ main_username }}/docker'
      to:
        - local_docker
        - b2_docker
      options:
        forget:
          keep-daily: 1
          keep-weekly: 4
          keep-monthly: 2
