services:
  uptime:
    image: louislam/uptime-kuma:2.0.2
    container_name: uptime
    volumes:
      - "{{ appdata_path }}/uptime:/app/data"
    ports:
      - 127.0.0.1:3001:3001
    restart: unless-stopped
  umami:
    image: ghcr.io/umami-software/umami:3.0.3
    container_name: umami
    ports:
      - 127.0.0.1:3500:3000
    environment:
      - DATABASE_URL={{ secret_umami_db_url }}
      - HASH_SALT={{ secret_umami_hash }}
    depends_on:
      - umami-db
    restart: unless-stopped
  umami-db:
    image: pgautoupgrade/pgautoupgrade:18.1-alpine
    container_name: umami-db
    volumes:
      - "{{ appdata_path }}/umami/postgres:/var/lib/postgresql/data"
    environment:
      - POSTGRES_USER=umami
      - POSTGRES_PASSWORD={{ secret_umami_db_pass }}
      - POSTGRES_DB=umami
    mem_limit: 200M
    restart: unless-stopped
  gitea:
    image: gitea/gitea:1.25.4
    container_name: gitea
    volumes:
      - "{{ appdata_path }}/gitea/data:/data"
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    ports:
      - 127.0.0.1:3030:3000
      - 222:222
    environment:
      - USER_UID=1000
      - USER_GID=1000
      - DB_TYPE=postgres
      - DB_HOST=gitea-db:5432
      - DB_NAME=gitea
      - DB_USER=gitea
      - DB_PASSWD={{ secret_gitea_db_pass }}
    depends_on:
      - gitea-db
    restart: unless-stopped
  gitea-db:
    image: pgautoupgrade/pgautoupgrade:18.1-alpine
    container_name: gitea-db
    volumes:
      - "{{ appdata_path }}/gitea/postgres:/var/lib/postgresql/data"
    environment:
      - POSTGRES_USER=gitea
      - POSTGRES_PASSWORD={{ secret_gitea_db_pass }}
      - POSTGRES_DB=gitea
    mem_limit: 200M
    restart: unless-stopped
  hedgedoc:
    image: quay.io/hedgedoc/hedgedoc:1.10.5
    container_name: hedgedoc
    environment:
      - CMD_DB_URL=postgres://hedgedoc:{{ secret_hedgedoc_db_pass }}@hedgedoc-db:5432/hedgedoc
      - CMD_DOMAIN=docs.fuzzymistborn.com
      - CMD_URL_ADDPORT=false
      - CMD_PROTOCOL_USESSL=true
      - CMD_ALLOW_EMAIL_REGISTER=true
      - CMD_TZ={{ ntp_timezone }}
      - CMD_ALLOW_ANONYMOUS=false
      - CMD_ALLOW_ANONYMOUS_EDITS=false
    volumes:
      - "{{ appdata_path }}/hedgedoc/uploads:/hedgedoc/public/uploads"
    ports:
      - 127.0.0.1:3400:3000
    restart: unless-stopped
  hedgedoc-db:
    image: pgautoupgrade/pgautoupgrade:18.1-alpine
    container_name: hedgedoc-db
    volumes:
      - "{{ appdata_path }}/hedgedoc/postgres:/var/lib/postgresql/data"
    environment:
      - POSTGRES_USER=hedgedoc
      - POSTGRES_PASSWORD={{ secret_hedgedoc_db_pass }}
      - POSTGRES_DB=hedgedoc
    mem_limit: 200M
    restart: unless-stopped
  woodpecker-github:
    image: quay.io/woodpeckerci/woodpecker-server:v3.13.0
    container_name: woodpecker-github
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /etc/localtime:/etc/localtime:ro
      - "{{ appdata_path }}/woodpecker-github:/data"
    ports:
      - 127.0.0.1:4000:8000
      - 127.0.0.1:9000:9000
    environment:
      - WOODPECKER_GITHUB=true
      - WOODPECKER_GITHUB_CLIENT={{ secret_investiture_github_id }}
      - WOODPECKER_GITHUB_SECRET={{ secret_investiture_github_secret }}
      - WOODPECKER_HOST=https://github.ci.fuzzymistborn.com
      - WOODPECKER_AGENT_SECRET={{ secret_investiture_rpc }}
      - WOODPECKER_DATABASE_DRIVER=sqlite3
      - WOODPECKER_DATABASE_DATASOURCE=/data/woodpecker.sqlite
      - WOODPECKER_ADMIN=FuzzyMistborn
      - WOODPECKER_GRPC_ADDR=:9000
      - WOODPECKER_PLUGINS_PRIVILEGED=woodpeckerci/plugin-docker-buildx:5.0.0
    restart: unless-stopped
  woodpecker-gitea:
    image: quay.io/woodpeckerci/woodpecker-server:v3.13.0
    container_name: woodpecker-gitea
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /etc/localtime:/etc/localtime:ro
      - "{{ appdata_path }}/woodpecker-gitea:/data"
    ports:
      - 127.0.0.1:4001:8000
      - 127.0.0.1:9002:9002
    environment:
      - WOODPECKER_GITEA=true
      - WOODPECKER_GITEA_URL=https://git.fuzzymistborn.com
      - WOODPECKER_GITEA_CLIENT={{ secret_investiture_gitea_id }}
      - WOODPECKER_GITEA_SECRET={{ secret_investiture_gitea_secret }}
      - WOODPECKER_HOST=https://gitea.ci.fuzzymistborn.com
      - WOODPECKER_AGENT_SECRET={{ secret_investiture_rpc }}
      - WOODPECKER_DATABASE_DRIVER=sqlite3
      - WOODPECKER_DATABASE_DATASOURCE=/data/woodpecker.sqlite
      - WOODPECKER_ADMIN=FuzzyMistborn
      - WOODPECKER_GRPC_ADDR=:9002
      - WOODPECKER_PLUGINS_PRIVILEGED=woodpeckerci/plugin-docker-buildx:5.0.0
    restart: unless-stopped
  ntfy:
    image: binwiederhier/ntfy:v2.16.0
    container_name: ntfy
    volumes:
      - "{{ appdata_path }}/ntfy/cache:/var/cache/ntfy"
    ports:
      - 127.0.0.1:4600:80
    environment:
      - TZ={{ ntp_timezone }}
      - NTFY_BASE_URL=http://ntfy.{{ secret_personal_url }}
      - NTFY_CACHE_FILE=/var/cache/ntfy/cache.db
      - NTFY_AUTH_FILE=/var/cache/ntfy/auth.db
      - NTFY_AUTH_DEFAULT_ACCESS=deny-all
      - NTFY_BEHIND_PROXY=true
      - NTFY_ATTACHMENT_CACHE_DIR=/var/cache/ntfy/attachments
      - NTFY_ENABLE_LOGIN=true
    command:
      - serve
    restart: unless-stopped
  opengist:
    image: ghcr.io/thomiceli/opengist:1.11
    container_name: opengist
    volumes:
      - "{{ appdata_path }}/opengist:/opengist"
    ports:
      - 127.0.0.1:6157:6157
    restart: unless-stopped
  pairdrop:
    image: lscr.io/linuxserver/pairdrop:1.11.2
    container_name: pairdrop
    volumes:
      - "{{ appdata_path }}/pairdrop:/opt/pairdrop"
    ports:
      - 127.0.0.1:3200:3000
    environment:
      - UID={{ main_uid }}
      - GID={{ main_gid }}
      - PUID={{ main_uid }}
      - PGID={{ main_gid }}
      - TZ={{ ntp_timezone }}
      - RATE_LIMIT=false
      - WS_FALLBACK=true
      - RTC_CONFIG=/opt/pairdrop/rtc.json
    restart: unless-stopped
  healthchecks:
    image: ghcr.io/linuxserver/healthchecks:4.0.20260202
    container_name: healthchecks
    volumes:
      - "{{ appdata_path }}/healthchecks/config:/config"
    ports:
      - 127.0.0.1:8000:8000
    environment:
      - UID={{ main_uid }}
      - GID={{ main_gid }}
      - PUID={{ main_uid }}
      - PGID={{ main_gid }}
      - TZ={{ ntp_timezone }}
      - SITE_ROOT=https://hc.fuzzymistborn.com
      - SITE_NAME=Cosmere Health Checks
      - DEFAULT_FROM_EMAIL=do_not_reply@fuzzymistborn.com
      - EMAIL_HOST={{ secret_snapraid_smtp_host }}
      - EMAIL_PORT=587
      - EMAIL_HOST_USER={{ secret_snapraid_email_address }}
      - EMAIL_HOST_PASSWORD={{ secret_snapraid_email_pass }}
      - EMAIL_USE_TLS=True
      - SUPERUSER_EMAIL={{ secret_email }}
      - SUPERUSER_PASSWORD={{ secret_healthchecks_pass }}
      - REGENERATE_SETTINGS=True
      - REGISTRATION_OPEN=False
      - SECRET_KEY={{ secret_healthchecks_key }}
      - TELEGRAM_BOT_NAME=Cosmere HealthChecks
      - TELEGRAM_TOKEN={{ secret_healthchecks_tg_token }}
      - DOCKER_MODS=linuxserver/mods:healthchecks-apprise
    restart: unless-stopped
  crowdsec:
    image: ghcr.io/crowdsecurity/crowdsec:v1.7.6
    container_name: crowdsec
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - "{{ appdata_path }}/crowdsec/data/:/etc/crowdsec"
      - /home/{{ main_username }}/caddy/:/var/log/caddy
      - "{{ appdata_path }}/gitea/data/gitea/log:/var/log/gitea:ro"
      - /var/log/auth.log:/var/log/ssh/auth.log:ro
      - "{{ appdata_path }}/crowdsec/db:/var/lib/crowdsec/data/"
    ports:
      - 8080:8080
    environment:
      - COLLECTIONS=crowdsecurity/caddy crowdsecurity/http-cve crowdsecurity/whitelist-good-actors LePresidente/gitea timokoessler/uptime-kuma crowdsecurity/sshd
      - BOUNCER_KEY_CADDY={{secret_crowdsec_api}}
      - GID=1000
      - USE_WAL=true
      - TZ={{ ntp_timezone }}
    restart: unless-stopped
  hawser:
    image: ghcr.io/finsys/hawser:0.2.25
    container_name: hawser
    volumes:
      - "{{ appdata_path }}/hawser:/data/stacks"
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - 2376:2376
    environment:
      - TOKEN={{ secret_hawser_key }}
    restart: unless-stopped
