## ishap samba configuration

[global]
  server min protocol = SMB2_02
  workgroup = cosmere
  server string = ishap
  security = user
  guest ok = no
  map to guest = bad user

  log file = /var/log/samba/%m.log
  max log size = 50
  printcap name = /dev/null
  load printers = no

[backup]
  comment = Backup on ishap
  path = /mnt/Backup
  valid users = samba
  force user = {{ main_username }}
  force group = {{ main_username }}
  writeable = yes
  case sensitive = no
  vfs objects = acl_xattr
  map acl inherit = yes
  store dos attributes = yes
