[Unit]
Description=USB TPU Initialize Docker on Boot
After=docker.service
Wants=docker.service

[Service]
Type=oneshot
ExecStart=/home/{{main_username}}/usb-docker.sh
User={{main_username}}
RemainAfterExit=yes
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target