[Unit]
Description=Wake-on-LAN
Requires=network.target
After=network.target

[Service]
ExecStart=/usr/sbin/ethtool -s enp0s31f6 wol g
Type=oneshot

[Install]
WantedBy=multi-user.target