---
extends: default

rules:
  line-length:
    max: 175
    level: warning
  truthy:
    allowed-values: ['true', 'false', 'yes', 'no']

ignore: |
  galaxy_roles/
  test.yml
  requirements.yaml
  vars/vault.yaml
