[ActionPlugins][1]
RightButton;NoModifier=org.kde.latte.contextmenu

[Containments][1]
activityId=
byPassWM=false
dockWindowBehavior=true
enableKWinEdges=true
formfactor=2
immutability=1
isPreferredForShortcuts=false
lastScreen=-1
layoutId=
location=3
name=Default Dock
onPrimary=true
plugin=org.kde.latte.containment
raiseOnActivityChange=false
raiseOnDesktopChange=false
timerHide=700
timerShow=300
viewType=0
visibility=2
wallpaperplugin=org.kde.image

[Containments][1][Applets][64]
immutability=1
plugin=org.kde.plasma.icontasks

[Containments][1][Applets][64][Configuration]
PreloadWeight=0

[Containments][1][Applets][64][Configuration][ConfigDialog]
DialogHeight=682
DialogWidth=880

[Containments][1][Applets][64][Configuration][General]
launchers=preferred://browser,applications:org.kde.dolphin.desktop,applications:thunderbird.desktop,applications:ferdi.desktop,applications:org.kde.kate.desktop,file:///usr/share/applications/libreoffice-writer.desktop,file:///usr/share/applications/libreoffice-calc.desktop,applications:org.kde.konsole.desktop,applications:visual-studio-code.desktop,applications:filezilla.desktop,applications:systemsettings.desktop,applications:psst.desktop,applications:com.github.iwalton3.jellyfin-media-player.desktop,applications:steam.desktop
maxStripes=1

[Containments][1][ConfigDialog]
DialogHeight=600
DialogWidth=586

[Containments][1][Configuration]
PreloadWeight=0

[Containments][1][General]
advanced=false
alignmentUpgraded=true
appletOrder=64
configurationSticker=true
inConfigureAppletsMode=true
lastDodgeVisibilityMode=4
lastSidebarVisibilityMode=9
lastWindowsVisibilityMode=6
minLength=50
panelSize=5
shadowOpacity=60
shadowSize=45
shadows=All
shadowsUpgraded=true
showGlow=false
splitterPosition=1
splitterPosition2=3
tasksUpgraded=true
titleTooltips=false
zoomLevel=16

[Containments][1][Indicator]
customType=
enabled=true
type=org.kde.latte.default

[LayoutSettings]
activities=
backgroundStyle=0
color=blue
customBackground=
customTextColor=
icon=
lastUsedActivity=4f5e567a-0448-4393-9efa-a5ac42ff9d26
launchers=
popUpMargin=-1
preferredForShortcutsTouched=false
schemeFile=
showInMenu=true
version=2
