[bitwarden]
enabled = false
action   = cloudflare-apiv4
           iptables-allports
           telegram
port = 80,443,8081
filter = bitwarden
logpath = /home/{{ main_username }}/docker/bitwarden/data/bitwarden.log
maxretry = 3
bantime = 3600
findtime = 3600
