[bitwarden]
enabled = false
action   = iptables-allports
           telegram
port = 80,443,6482
filter = bitwarden
logpath = /var/log/Cultivation/bitwarden.log
maxretry = 3
bantime = 3600
findtime = 3600
