[ha]
enabled = false
action   = cloudflare-apiv4
           iptables-allports
           telegram
filter = ha
logpath = /home/{{ main_username }}/hass_docker/home-assistant.log
port = 80,443,5315

# 3600 seconds = 1 hour
bantime = 3600

# Maximum amount of login attempts before IP is blocked
maxretry = 5
