[Unit]
Description=Run Restic Prune
Wants= restic_prune.timer
[Service]
Type=oneshot
WorkingDirectory=/home/{{ main_username }}
ExecStartPre=/bin/sleep 300
ExecStart= /usr/local/bin/runitor -uuid {{ desktop_hc_prune_id }} -- /usr/local/bin/autorestic forget -a --prune
EnvironmentFile=/etc/environment
[Install]
WantedBy=multi-user.target