$ModLoad imfile
$InputFilePollInterval 3
# Nextcloud
$InputFileName /home/{{main_username}}/docker/nextcloud_docker/html/data/nextcloud.log
$InputFileTag nextcloud:

$InputFileStateFile nextcloud-error
$InputRunFileMonitor

# Nextcloud
$InputFileName /home/{{main_username}}/docker/jellyfin/config/log/log*.log
$InputFileTag nextcloud:

$InputFileStateFile nextcloud-error
$InputRunFileMonitor

# Sonarr   
$InputFileName /home/{{main_username}}/docker/sonarr/logs/sonarr.txt
$InputFileTag sonarr:

$InputFileStateFile sonarr-error
$InputRunFileMonitor

# Radarr
$InputFileName /home/{{main_username}}/docker/radarr/logs/radarr.txt
$InputFileTag radarr:

$InputFileStateFile radarr-error
$InputRunFileMonitor
