$ModLoad imfile
$InputFileName /home/{{ main_username }}/docker/nextcloud_docker/data/nextcloud.log
$InputFileTag nextcloud
$InputFileStateFile nextcloud-error
$InputFileSeverity error
$InputFileFacility local3
$InputFilePollInterval 1
$InputFilePersistStateInterval 1
$InputRunFileMonitor

*.* @@{{secret_linode_ip}}:{{secret_rsyslog_port}}