#!/bin/bash

curl --retry 3 {{ secret_hc_photo_reorg }}/start

YEAR=$(date +"%Y")
MONTH=$(date +"%m")

cd '{{ secret_photopath_1 }}'

mkdir -p "${YEAR}/${MONTH}"

find -maxdepth 1 -type f -name "*_${YEAR}${MONTH}*" -exec mv -t ${YEAR}/${MONTH} {} +

cd '{{ secret_photopath_2 }}'

mkdir -p "${YEAR}/${MONTH}"

find -maxdepth 1 -type f -name "*_${YEAR}${MONTH}*" -exec mv -t ${YEAR}/${MONTH} {} +

curl --retry 3 {{ secret_hc_photo_reorg }}/$1