$ModLoad imfile
$InputFileName /home/{{ main_username }}/docker/sonarr/logs/sonarr.txt
$InputFileTag sonarr
$InputFileStateFile sonarr-error
$InputFileSeverity error
$InputFileFacility local3
$InputFilePollInterval 1
$InputFilePersistStateInterval 1
$InputRunFileMonitor

*.* @@{{secret_linode_ip}}:{{secret_rsyslog_port}}