---

- name: SSH Keys - Add Work SSH Key
  authorized_key:
    user: "{{ main_username }}"
    state: present
    key: "{{ secret_work_ssh }}"

- name: create config directories
  file:
    path: "/home/{{ main_username }}/{{ item }}"
    state: directory
    owner: "{{ main_username }}"
    group: "{{ main_groupname }}"
  loop:
    - docker
    - caddy

- name: Copy certs script
  template:
    src: "{{ item.src }}"
    dest: /home/{{ main_username }}/{{ item.dest }}
    owner: "{{ main_username }}"
    group: "{{ main_username }}"
    mode: +x
  loop:
    - {src: 'certs.sh.j2', dest: 'certs.sh'}
    - {src: 'ddns_vps.sh.j2', dest: 'ddns_vps.sh'}

### LEGO variable
- name: populate /etc/environment
  lineinfile:
    dest: "/etc/environment"
    state: present
    regexp: "^HETZNER_API_TOKEN="
    line: "HETZNER_API_TOKEN={{ secret_hetzner_token }}"

### Backup Restore
- name: Create restore script
  copy:
    dest: /home/{{ main_username }}/restore.sh
    owner: "{{ main_username }}"
    group: "{{ main_username }}"
    mode: +x
    content: |
      #!/bin/bash
      /usr/local/bin/autorestic restore -f -l docker --from local_docker --to /
  when: pull_backup == true
- name: Run restore script
  command: /bin/bash ./restore.sh
  args:
    chdir: "/home/{{ main_username }}"
  when: pull_backup == true
- name: Remove restore script
  file:
    path: /home/{{ main_username }}/restore.sh
    state: absent
  when: pull_backup == true

### Wireguard
- name: Enable IPv4 forwarding
  sysctl:
    name: net.ipv4.ip_forward
    value: 1
    reload: yes

- name: Create wireguard conf
  copy:
    dest: /etc/wireguard/wg0.conf
    owner: root
    group: root
    mode: 0600
    content: "{{ secret_honor_wireguard_config }}"
  notify:
    - start wireguard service

- name: Stop resolved
  service:
    name: systemd-resolved
    enabled: false
    state: stopped

- name: Copy WG Tunnel Check Scripts
  template:
    src: wg-check.sh.j2
    dest: /home/{{ main_username }}/wg-check.sh
    owner: "{{ main_username }}"
    group: "{{ main_username }}"
    mode: +x

### Caddy UDP Buffer Size
- name: Set UDP buffer sizes for Caddy QUIC
  sysctl:
    name: "{{ item.name }}"
    value: "{{ item.value }}"
    state: present
    sysctl_file: /etc/sysctl.d/99-caddy.conf
    reload: yes
  loop:
    - { name: net.core.rmem_max, value: 7500000 }
    - { name: net.core.wmem_max, value: 7500000 }

### Caddy systemd Override to speed up restart
- name: Create caddy systemd drop-in directory
  file:
    path: /etc/systemd/system/caddy.service.d
    state: directory
    mode: '0755'

- name: Configure caddy systemd drop-in
  copy:
    dest: /etc/systemd/system/caddy.service.d/override.conf
    content: |
      [Service]
      TimeoutStopSec=10s
      KillMode=mixed

- name: Reload systemd service
  systemd:
    enabled: true
    daemon-reload: true
    state: started
    name: caddy.service
    no_block: true
