services:
  influx-db:
    image: influxdb:2.8.0
    container_name: influx-db
    volumes:
      - /home/{{ main_username }}/db_backups/influxdb:/media/backup
      - "{{ appdata_path }}/influx_db/data:/var/lib/influxdb2"
      - "{{ appdata_path }}/influx_db/config:/etc/influxdb2"
    ports:
      - 8086:8086
    environment:
      #  - DOCKER_INFLUXDB_INIT_MODE=setup
      - DOCKER_INFLUXDB_INIT_USERNAME={{ main_username }}
      - DOCKER_INFLUXDB_INIT_PASSWORD={{ secret_influxdb_pass }}
      - DOCKER_INFLUXDB_INIT_ORG=cosmere
      - DOCKER_INFLUXDB_INIT_BUCKET=Default
      - DOCKER_INFLUXDB_INIT_RETENTION=168h
      - DOCKER_INFLUXDB_INIT_ADMIN_TOKEN={{ secret_influxdb_token }}
    restart: unless-stopped
  #  image: quay.io/influxdb/influxdb:2.1-nightly
  # NOTE: quay.io image does not include influx client.  To install, run following:
  # apt install wget -y
  # wget https://dl.influxdata.com/influxdb/releases/influxdb2-client-2.2.0-linux-amd64.tar.gz
  # tar xvzf influxdb2-client-2.2.0-linux-amd64.tar.gz
  # cp influxdb2-client-2.2.0-linux-amd64/influx /usr/local/bin/
  # rm -r influxdb2-client-2.2.0-linux-amd64
  # rm influxdb2-client-2.2.0-linux-amd64.tar.gz
  romm-db:
    image: mariadb:11.7.2
    container_name: romm-db
    volumes:
      - "{{ appdata_path }}/romm_db:/var/lib/mysql"
    ports:
      - 3309:3306
    environment:
      - MYSQL_ROOT_PASSWORD={{ secret_db_root_pass }}
      - MYSQL_DATABASE=romm
      - MYSQL_USER=romm-user
      - MYSQL_PASSWORD={{ secret_romm_db_pass }}
    mem_limit: 300M
    restart: unless-stopped
  booklore-db:
    image: mariadb:11.7.2
    container_name: booklore-db
    volumes:
      - "{{ appdata_path }}/booklore_db:/var/lib/mysql"
    ports:
      - 3310:3306
    environment:
      - MYSQL_ROOT_PASSWORD={{ secret_db_root_pass }}
      - MYSQL_DATABASE=booklore
      - MYSQL_USER=booklore
      - MYSQL_PASSWORD={{ secret_booklore_db_pass }}
    mem_limit: 300M
    restart: unless-stopped
  invidious-db:
    image: pgautoupgrade/pgautoupgrade:18.2-alpine
    container_name: invidious-db
    volumes:
      - "{{ appdata_path }}/invidious/data:/var/lib/postgresql/data"
      - "{{ appdata_path }}/invidious/config/sql:/config/sql"
      - "{{ appdata_path }}/invidious/init-invidious-db.sh:/docker-entrypoint-initdb.d/init-invidious-db.sh"
    ports:
      - 5432:5432
    environment:
      - POSTGRES_DB=invidious
      - POSTGRES_USER=kemal
      - POSTGRES_PASSWORD={{ secret_invidious_db_pass }}
    mem_limit: 200M
    restart: unless-stopped
  linkwarden-db:
    image: pgautoupgrade/pgautoupgrade:18.2-alpine
    container_name: linkwarden-db
    volumes:
      - "{{ appdata_path }}/linkwarden/data:/var/lib/postgresql/data"
    ports:
      - 5433:5432
    environment:
      - POSTGRES_PASSWORD={{ secret_linkwarden_db_pass }}
    mem_limit: 200M
    restart: unless-stopped
  ha-db:
    image: pgautoupgrade/pgautoupgrade:18.2-alpine
    container_name: ha-db
    volumes:
      - "{{ appdata_path }}/ha-db/data:/var/lib/postgresql/data"
    ports:
      - 5434:5432
    environment:
      - POSTGRES_DB=homeassistant
      - POSTGRES_USER=homeassistant
      - POSTGRES_PASSWORD={{ secret_ha_db_pass }}
      - POSTGRES_INITDB_ARGS='--encoding=UTF-8'
    mem_limit: 200M
    restart: unless-stopped
  vaultwarden-db:
    image: pgautoupgrade/pgautoupgrade:18.2-alpine
    container_name: vaultwarden-db
    volumes:
      - "{{ appdata_path }}/vaultwarden-db/data:/var/lib/postgresql/data"
    ports:
      - 5435:5432
    environment:
      - POSTGRES_DB=vaultwarden
      - POSTGRES_USER=vaultwarden
      - POSTGRES_PASSWORD={{ secret_vaultwarden_db_pass }}
    mem_limit: 200M
    restart: unless-stopped
  nextcloud-db:
    image: pgautoupgrade/pgautoupgrade:18.2-alpine
    container_name: nextcloud-db
    volumes:
      - "{{ appdata_path }}/nextcloud-db/data:/var/lib/postgresql/data"
    ports:
      - 5436:5432
    environment:
      - POSTGRES_DB=nextcloud
      - POSTGRES_USER=nextcloud
      - POSTGRES_PASSWORD={{ secret_nextcloud_db_pass }}
    mem_limit: 200M
    restart: unless-stopped
  hawser:
    image: ghcr.io/finsys/hawser:0.2.29
    container_name: hawser
    volumes:
      - "{{ appdata_path }}/hawser:/data/stacks"
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - 2376:2376
    environment:
      - TOKEN={{ secret_hawser_key }}
    restart: unless-stopped
