services:
  dawarich-app:
    image: freikin/dawarich:1.2.0
    container_name: dawarich-app
    volumes:
      - "{{ appdata_path }}/dawarich/public:/var/app/public"
      - "{{ appdata_path }}/dawarich/imports:/var/app/tmp/imports/watched"
      - "{{ appdata_path }}/dawarich/storage:/var/app/storage"
      - "{{ appdata_path }}/dawarich/db:/dawarich_db_data"
    ports:
      - 3000:3000
    environment:
      - RAILS_ENV=production
      - REDIS_URL=redis://dawarich-redis:6379
      - DATABASE_HOST=dawarich-db
      - DATABASE_USERNAME=dawarich
      - DATABASE_PASSWORD={{ secret_dawarich_db_pass }}
      - DATABASE_NAME=dawarich
      - MIN_MINUTES_SPENT_IN_CITY=60
      - APPLICATION_HOST=192.168.50.23
      - APPLICATION_HOSTS=192.168.50.23,track.{{ secret_personal_internal_url }}
      - TIME_ZONE={{ ntp_timezone }}
      - APPLICATION_PROTOCOL=http
      - REVERSE_GEOCODING_ENABLED=true
      - PHOTON_API_HOST=192.168.50.23:2322
      - PHOTON_API_USE_HTTPS=false
      - SELF_HOSTED=true
      - SECRET_KEY_BASE={{ secret_dawarich_key_base }}
#      - OIDC_CLIENT_ID={{ secret_dawarich_pocket_client_id }}
#      - OIDC_CLIENT_SECRET={{ secret_dawarich_pocket_secret }}
#      - OIDC_ISSUER=https://id.{{ secret_personal_url }}
#      - OIDC_REDIRECT_URI=https://track.{{ secret_personal_internal_url }}/users/auth/openid_connect/callback
#      - OIDC_PROVIDER_NAME=PocketID
#      - ALLOW_EMAIL_PASSWORD_REGISTRATION=false
    stdin_open: true
    tty: true
    entrypoint: web-entrypoint.sh
    command: ['bin/rails', 'server', '-p', '3000', '-b', '::']
    logging:
      driver: json-file
      options:
        max-size: 100m
        max-file: 5
    restart: unless-stopped
  dawarich-db:
    image: postgis/postgis:17-3.5-alpine
    container_name: dawarich-db
    volumes:
      - "{{ appdata_path }}/dawarich/db:/var/lib/postgresql/data"
      - "{{ appdata_path }}/dawarich/shared:/var/shared"
      - "{{ appdata_path }}/dawarich/postgresql.conf:/etc/postgresql/postgresql.conf"
    environment:
      - POSTGRES_DB=dawarich
      - POSTGRES_USER=dawarich
      - POSTGRES_PASSWORD={{ secret_dawarich_db_pass }}
    command: postgres -c config_file=/etc/postgresql/postgresql.conf
    mem_limit: 400M
    shm_size: 1G
    restart: unless-stopped
  dawarich-redis:
    image: redis:8.6.0
    container_name: dawarich-redis
    volumes:
      - "{{ appdata_path }}/dawarich/shared:/var/shared/redis"
    command: redis-server
    restart: unless-stopped
  dawarich-sidekiq:
    image: freikin/dawarich:1.2.0
    container_name: dawarich-sidekiq
    volumes:
      - "{{ appdata_path }}/dawarich/public:/var/app/public"
      - "{{ appdata_path }}/dawarich/imports:/var/app/tmp/imports/watched"
      - "{{ appdata_path }}/dawarich/storage:/var/app/storage"
    environment:
      - RAILS_ENV=production
      - REDIS_URL=redis://dawarich-redis:6379
      - DATABASE_HOST=dawarich-db
      - DATABASE_USERNAME=dawarich
      - DATABASE_PASSWORD={{ secret_dawarich_db_pass }}
      - DATABASE_NAME=dawarich
      - APPLICATION_HOST=192.168.50.23
      - APPLICATION_HOSTS=192.168.50.23,track.{{ secret_personal_internal_url }}
      - BACKGROUND_PROCESSING_CONCURRENCY=10
      - APPLICATION_PROTOCOL=http
      - REVERSE_GEOCODING_ENABLED=true
      - PHOTON_API_HOST=192.168.50.23:2322
      - PHOTON_API_USE_HTTPS=false
      - SELF_HOSTED=true
      - SECRET_KEY_BASE={{ secret_dawarich_key_base }}
#      - OIDC_CLIENT_ID={{ secret_dawarich_pocket_client_id }}
#      - OIDC_CLIENT_SECRET={{ secret_dawarich_pocket_secret }}
#      - OIDC_ISSUER=https://id.{{ secret_personal_url }}
#      - OIDC_REDIRECT_URI=https://track.{{ secret_personal_internal_url }}/users/auth/openid_connect/callback
#      - OIDC_PROVIDER_NAME=PocketID
#      - ALLOW_EMAIL_PASSWORD_REGISTRATION=false
    stdin_open: true
    tty: true
    entrypoint: sidekiq-entrypoint.sh
    command: ['bundle', 'exec', 'sidekiq']
    logging:
      driver: json-file
      options:
        max-size: 100m
        max-file: 5
    restart: unless-stopped
  photon:
    image: ghcr.io/rtuszik/photon-docker:0.7.0-rev.3
    container_name: photon
    environment:
      - COUNTRY_CODE=us
    volumes:
      - /mnt/external_data/photon:/photon/photon_data
    restart: unless-stopped
    ports:
      - 2322:2322
  hawser:
    image: ghcr.io/finsys/hawser:0.2.27
    container_name: hawser
    volumes:
      - "{{ appdata_path }}/hawser:/data/stacks"
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - 2376:2376
    environment:
      - TOKEN={{ secret_hawser_key }}
    restart: unless-stopped
