services:
  gluetun:
    image: qmcgaw/gluetun:v3.41.0
    container_name: gluetun
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    volumes:
      - "{{ appdata_path }}/gluetun:/gluetun"
    environment:
      - VPN_SERVICE_PROVIDER=mullvad
      - VPN_TYPE=wireguard
      - WIREGUARD_PRIVATE_KEY={{ secret_mullvad_key }}
      - WIREGUARD_ADDRESSES={{ secret_mullvad_url }}
      - SERVER_CITIES={{ secret_mullvad_cities }}
      - DNS_ADDRESS=192.168.1.11
      - TZ={{ ntp_timezone }}
      - UPDATER_PERIOD=24h
    restart: unless-stopped
  tailscale:
    image: ghcr.io/tailscale/tailscale:v1.94.1
    container_name: tailscale
#    network_mode: service:gluetun
    privileged: true
    cap_add:
      - net_admin
      - sys_module
    devices:
      - /dev/net/tun:/dev/net/tun
    volumes:
      - "{{ appdata_path }}/tailscale:/var/lib/tailscale"
    environment:
      - TS_HOSTNAME=ishap
      - TS_AUTHKEY={{ secret_ishap_tailscale_key }}
      - TS_EXTRA_ARGS= --advertise-exit-node --accept-routes
      - TS_STATE_DIR=/var/lib/tailscale
      - TS_USERSPACE=true
    restart: unless-stopped
  imap-backup:
    image: ghcr.io/joeyates/imap-backup:v16.6.0
    container_name: imap-backup
    volumes:
      - /mnt/Backup/config/Email:/data
      - "{{ appdata_path }}/imap/config:/config"
    environment:
      - UID={{ main_uid }}
      - GID={{ main_gid }}
    command: imap-backup backup --config /config/personal.json
    restart: unless-stopped
  scrutiny:
    image: ghcr.io/analogj/scrutiny:v0.8.6-omnibus
    container_name: scrutiny
    cap_add:
      - SYS_RAWIO
      - SYS_ADMIN
    devices:
      - /dev/sda:/dev/sda
      - /dev/sdb:/dev/sdb
      - /dev/sdc:/dev/sdc
      - /dev/sdd:/dev/sdd
      - /dev/nvme0:/dev/nvme0
    volumes:
      - "{{ appdata_path }}/scrutiny:/opt/scrutiny/config"
      - /run/udev:/run/udev:ro
    ports:
      - 8080:8080
    restart: unless-stopped
  restic-server:
    image: restic/rest-server:0.14.0
    container_name: restic-server
    volumes:
      - /mnt/Backup/restic:/data
    ports:
      - 8500:8000
    restart: unless-stopped
  hawser:
    image: ghcr.io/finsys/hawser:0.2.27
    container_name: hawser
    volumes:
      - "{{ appdata_path }}/hawser:/data/stacks"
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - 2376:2376
    environment:
      - TOKEN={{ secret_hawser_key }}
    restart: unless-stopped
