{
	log {
		output file /home/{{main_username}}/caddy/access.log {
			roll_size 100mb
			roll_keep 5
			roll_keep_for 168h
		}
	}
	email {{secret_email}}
}

(proxy_options) {
	header X-Real-IP {remote_host}
	header X-Forwarded-Proto {scheme}
}
(fuzzy_headers) {
	header {
		Strict-Transport-Security "max-age=31536000; includeSubdomains"
		X-XSS-Protection "1; mode=block"
		X-Content-Type-Options "nosniff"
		Referrer-Policy "same-origin"
		Content-Security-Policy "frame-ancestors fuzzymistborn.com *.fuzzymistborn.com"
		-Server
		Permissions-Policy "geolocation=(self fuzzymistborn.com *.fuzzymistborn.com), microphone=()"
	}
}
(personal_headers) {
	header {
		Strict-Transport-Security "max-age=31536000; includeSubdomains"
		X-XSS-Protection "1; mode=block"
		X-Content-Type-Options "nosniff"
		Referrer-Policy "same-origin"
		Content-Security-Policy "frame-ancestors {{secret_personal_url}} *.{{secret_personal_url}}"
		-Server
		Permissions-Policy "geolocation=(self {{secret_personal_url}} *.{{secret_personal_url}}), microphone=()"
	}
}
(no_robots) {
		respond /robots.txt 200 {
		body "User-agent: *
Disallow: /"
	}
}

fuzzymistborn.com {
	redir /* https://blog.fuzzymistborn.com
}

*.fuzzymistborn.com {
	tls /home/{{main_username}}/lego/certificates/_.fuzzymistborn.com.crt /home/{{main_username}}/lego/certificates/_.fuzzymistborn.com.key {
	}

	@hc host hc.fuzzymistborn.com
	handle @hc {
		reverse_proxy localhost:8000
		import proxy_options
		import fuzzy_headers
		import no_robots
	}

	@root host www.fuzzymistborn.com
	handle @root {
		redir /* https://blog.fuzzymistborn.com
	}

	@blog host blog.fuzzymistborn.com
	handle @blog {
		file_server
		root * /home/{{main_username}}/blog/public
		import proxy_options
		import fuzzy_headers
	}

	@stats host stats.fuzzymistborn.com
	handle @stats {
		reverse_proxy localhost:3500
		import proxy_options
		import fuzzy_headers
		import no_robots
	}

	# Fallback for otherwise unhandled domains
	handle {
		redir {{secret_redirect}}
	}
}

*.{{secret_personal_url}} {
	#tls /home/{{main_username}}/lego/certificates/_.{{secret_personal_url}}.crt /home/{{main_username}}/lego/certificates/_.{{secret_personal_url}}.key {
	tls /home/{{main_username}}/caddy/casa_cert.pem /home/{{main_username}}/caddy/casa_key.pem {
		client_auth {
			mode require_and_verify
			trusted_ca_cert_file /home/{{main_username}}/caddy/cloudflare.crt
		}
	}

	@git host git.{{secret_personal_url}}
	handle @git {
		reverse_proxy localhost:3030
		import proxy_options
		import personal_headers
		import no_robots
	}

	@gotify host gotify.{{secret_personal_url}}
	handle @gotify {
		reverse_proxy localhost:8090
		import proxy_options
		import personal_headers
		import no_robots
	}

	@uptime host uptime.{{secret_personal_url}}
	handle @uptime {
		reverse_proxy localhost:3001
		import proxy_options
		import personal_headers
		import no_robots
	}

	@smarthome host smarthome.{{secret_personal_url}}
	handle @smarthome {
		reverse_proxy 10.10.10.10:5315
		import proxy_options
		import personal_headers
		import no_robots
	}

	@cloud host cloud.{{secret_personal_url}}
	handle @cloud {
		reverse_proxy 10.10.10.10:3491
		encode gzip
		import proxy_options
		import personal_headers
		import no_robots
		redir /.well-known/carddav /remote.php/dav 301
		redir /.well-known/caldav /remote.php/dav 301
	}

	@calendar host calendar.{{secret_personal_url}}
	handle @calendar {
		redir /* https://cloud.{{secret_personal_url}}/apps/calendar/ 301
	}

	@tasks host tasks.{{secret_personal_url}}
	handle @tasks {
		redir /* https://cloud.{{secret_personal_url}}/apps/tasks/ 301
	}

	@bitwarden host bitwarden.{{secret_personal_url}}
	handle @bitwarden {
		reverse_proxy 10.10.10.10:6482
		import proxy_options
		import personal_headers
		import no_robots
		respond /admin* "The admin panel is disabled, please configure the 'ADMIN_TOKEN' variable to enable it"
	}

	@news host news.{{secret_personal_url}}
	handle @news {
		reverse_proxy 10.10.10.10:8010
		import proxy_options
		import personal_headers
		import no_robots
	}

	@media host media.{{secret_personal_url}}
	handle @media {
		reverse_proxy 10.10.10.10:8096
		import proxy_options
		import personal_headers
		import no_robots
	}

	@office host office.{{secret_personal_url}}
	handle @office {
		encode gzip

		reverse_proxy https://10.10.10.10:9980 {
				transport http {
						tls_insecure_skip_verify
				}
		}
		import proxy_options
		import personal_headers
		import no_robots
	}

	@dashboard host dashboard.{{secret_personal_url}}
	handle @dashboard {
		reverse_proxy 10.10.10.10:5100
		import proxy_options
		import personal_headers
		import no_robots
	}

	@photos host photos.{{secret_personal_url}}
	handle @photos {
		reverse_proxy 10.10.10.10:8000
		import proxy_options
		import personal_headers
		import no_robots
	}

	@radarr host radarr.{{secret_personal_url}}
	handle @radarr {
		reverse_proxy 10.10.10.10:7878
		import proxy_options
		import personal_headers
		import no_robots
	}

	@sonarr host sonarr.{{secret_personal_url}}
	handle @sonarr {
		reverse_proxy 10.10.10.10:8989
		import proxy_options
		import personal_headers
		import no_robots
	}

	@wallabag host wallabag.{{secret_personal_url}}
	handle @wallabag {
		reverse_proxy 10.10.10.10:300
		import proxy_options
		import personal_headers
		import no_robots
	}

	# Fallback for otherwise unhandled domains
	handle {
		redir {{secret_redirect}}
	}
}
