{
	log {
		output file /home/{{ main_username }}/caddy/access.log {
			roll_size 10mb
			roll_keep 5
			roll_keep_for 168h
		}
	}
	email {{ secret_email }}
}
(fuzzy_headers) {
	header {
		Permissions-Policy interest-cohort=()
		Strict-Transport-Security "max-age=31536000; includeSubdomains"
		X-XSS-Protection "1; mode=block"
		X-Content-Type-Options "nosniff"
		X-Robots-Tag noindex, nofollow
		Referrer-Policy "same-origin"
		Content-Security-Policy "frame-ancestors fuzzymistborn.com *.fuzzymistborn.com"
		-Server
		Permissions-Policy "geolocation=(self fuzzymistborn.com *.fuzzymistborn.com), microphone=()"
	}
}
(personal_headers) {
	header {
		Permissions-Policy interest-cohort=()
		Strict-Transport-Security "max-age=31536000; includeSubdomains"
		X-XSS-Protection "1; mode=block"
		X-Content-Type-Options "nosniff"
		X-Robots-Tag noindex, nofollow
		Referrer-Policy "same-origin"
		Content-Security-Policy "frame-ancestors {{ secret_personal_url }} *.{{ secret_personal_url }}"
		-Server
		Permissions-Policy "geolocation=(self {{ secret_personal_url }} *.{{ secret_personal_url }}), microphone=()"
	}
}

### FuzzyMistborn.com

fuzzymistborn.com {
	redir /* https://blog.fuzzymistborn.com
}

www.fuzzymistborn.com {
	redir /* https://blog.fuzzymistborn.com
}

blog.fuzzymistborn.com {
	file_server
	root * /var/www/blog/public
	tls /home/{{ main_username }}/lego/certificates/_.fuzzymistborn.com.crt /home/{{ main_username }}/lego/certificates/_.fuzzymistborn.com.key
	import fuzzy_headers
}

blog.ci.fuzzymistborn.com {
	file_server
	root * /var/www/staging/public
	tls /home/{{ main_username }}/lego/certificates/_.ci.fuzzymistborn.com.crt /home/{{ main_username }}/lego/certificates/_.ci.fuzzymistborn.com.key
	import fuzzy_headers
}

hc.fuzzymistborn.com {
	reverse_proxy localhost:8000
	tls /home/{{ main_username }}/lego/certificates/_.fuzzymistborn.com.crt /home/{{ main_username }}/lego/certificates/_.fuzzymistborn.com.key
	import fuzzy_headers
}

stats.fuzzymistborn.com {
	reverse_proxy localhost:3500
	tls /home/{{ main_username }}/lego/certificates/_.fuzzymistborn.com.crt /home/{{ main_username }}/lego/certificates/_.fuzzymistborn.com.key
	import fuzzy_headers
}

change.fuzzymistborn.com {
	reverse_proxy localhost:5000
	tls /home/{{ main_username }}/lego/certificates/_.fuzzymistborn.com.crt /home/{{ main_username }}/lego/certificates/_.fuzzymistborn.com.key
	import fuzzy_headers
}

gist.fuzzymistborn.com {
	reverse_proxy localhost:6157
	tls /home/{{ main_username }}/lego/certificates/_.fuzzymistborn.com.crt /home/{{ main_username }}/lego/certificates/_.fuzzymistborn.com.key
	import fuzzy_headers
}

drop.fuzzymistborn.com {
	reverse_proxy localhost:3200
	tls /home/{{ main_username }}/lego/certificates/_.fuzzymistborn.com.crt /home/{{ main_username }}/lego/certificates/_.fuzzymistborn.com.key
	import fuzzy_headers
}

git.fuzzymistborn.com {
	reverse_proxy localhost:3030
	tls /home/{{ main_username }}/lego/certificates/_.fuzzymistborn.com.crt /home/{{ main_username }}/lego/certificates/_.fuzzymistborn.com.key
	import fuzzy_headers
}

github.ci.fuzzymistborn.com {
	reverse_proxy localhost:4000
	tls /home/{{ main_username }}/lego/certificates/_.ci.fuzzymistborn.com.crt /home/{{ main_username }}/lego/certificates/_.ci.fuzzymistborn.com.key
	import fuzzy_headers
}

gitea.ci.fuzzymistborn.com {
	reverse_proxy localhost:4001
	tls /home/{{ main_username }}/lego/certificates/_.ci.fuzzymistborn.com.crt /home/{{ main_username }}/lego/certificates/_.ci.fuzzymistborn.com.key
	import fuzzy_headers
}

*.fuzzymistborn.com {
	redir {{ secret_redirect }}
	tls /home/{{ main_username }}/lego/certificates/_.fuzzymistborn.com.crt /home/{{ main_username }}/lego/certificates/_.fuzzymistborn.com.key
}

### {{ secret_personal_url }}

gotify.{{ secret_personal_url }} {
	reverse_proxy localhost:8090
	tls /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_url }}.crt /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_url }}.key
	import personal_headers
}

uptime.{{ secret_personal_url }} {
	reverse_proxy localhost:3001
	tls /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_url }}.crt /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_url }}.key
	import personal_headers
}

smarthome.{{ secret_personal_url }} {
	reverse_proxy https://10.10.10.10:443 {
		transport http {
			tls_server_name smarthome.{{ secret_personal_url }}
		}
	}
	tls /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_url }}.crt /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_url }}.key
	import personal_headers
}

cloud.{{ secret_personal_url }} {
	reverse_proxy https://10.10.10.10:443 {
		transport http {
			tls_server_name cloud.{{ secret_personal_url }}
		}
	}
	tls /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_url }}.crt /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_url }}.key
	encode gzip
	import personal_headers
}

calendar.{{ secret_personal_url }} {
	redir /* https://cloud.{{ secret_personal_url }}/apps/calendar/ 301
	tls /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_url }}.crt /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_url }}.key
}

tasks.{{ secret_personal_url }} {
	reverse_proxy https://10.10.10.10:443 {
		transport http {
			tls_server_name tasks.{{ secret_personal_url }}
		}
	}
	tls /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_url }}.crt /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_url }}.key
	import personal_headers
}

bitwarden.{{ secret_personal_url }} {
	reverse_proxy https://10.10.10.10:443 {
		transport http {
			tls_server_name bitwarden.{{ secret_personal_url }}
		}
	}
	tls /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_url }}.crt /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_url }}.key
	header Host {http.reverse_proxy.upstream.hostporti}
	import personal_headers
	respond /admin* "The admin panel is disabled, please configure the 'ADMIN_TOKEN' variable to enable it"
}

news.{{ secret_personal_url }} {
	reverse_proxy https://10.10.10.10:443 {
		transport http {
			tls_server_name news.{{ secret_personal_url }}
		}
	}
	tls /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_url }}.crt /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_url }}.key
	import personal_headers
}

code.{{ secret_personal_url }} {
	reverse_proxy https://10.10.10.10:443 {
		transport http {
			tls_server_name code.{{ secret_personal_url }}
		}
	}
	tls /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_url }}.crt /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_url }}.key
	import personal_headers
}

media.{{ secret_personal_url }} {
	reverse_proxy https://10.10.10.10:443 {
		transport http {
			tls_server_name media.{{ secret_personal_url }}
		}
	}
	tls /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_url }}.crt /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_url }}.key
	import personal_headers
}

office.{{ secret_personal_url }} {
	reverse_proxy https://10.10.10.10:443 {
		transport http {
			tls_server_name office.{{ secret_personal_url }}
		}
	}
	encode gzip
	tls /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_url }}.crt /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_url }}.key
	import personal_headers
	respond /loleaflet/dist/admin/* "The admin panel is disabled"
}

radarr.{{ secret_personal_url }} {
	reverse_proxy https://10.10.10.10:443 {
		transport http {
			tls_server_name radarr.{{ secret_personal_url }}
		}
	}
	tls /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_url }}.crt /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_url }}.key
	import personal_headers
}

sonarr.{{ secret_personal_url }} {
	reverse_proxy https://10.10.10.10:443 {
		transport http {
			tls_server_name sonarr.{{ secret_personal_url }}
		}
	}
	tls /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_url }}.crt /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_url }}.key
	import personal_headers
}

wallabag.{{ secret_personal_url }} {
	reverse_proxy https://10.10.10.10:443 {
		transport http {
			tls_server_name wallabag.{{ secret_personal_url }}
		}
	}
	tls /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_url }}.crt /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_url }}.key
	import personal_headers
}

ferdium.{{ secret_personal_url }} {
	reverse_proxy https://10.10.10.10:443 {
		transport http {
			tls_server_name ferdium.{{ secret_personal_url }}
		}
	}
	tls /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_url }}.crt /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_url }}.key
	import personal_headers
}

matrix.{{ secret_personal_url }} {
	reverse_proxy https://10.10.10.10:443 {
		transport http {
			tls_server_name matrix.{{ secret_personal_url }}
		}
	}
	tls /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_url }}.crt /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_url }}.key
	import personal_headers
}

chat.{{ secret_personal_url }} {
	reverse_proxy https://10.10.10.10:443 {
		transport http {
			tls_server_name chat.{{ secret_personal_url }}
		}
	}
	tls /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_url }}.crt /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_url }}.key
	import personal_headers
}

change.{{ secret_personal_url }} {
	reverse_proxy https://10.10.10.10:443 {
		transport http {
			tls_server_name change.{{ secret_personal_url }}
		}
	}
	tls /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_url }}.crt /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_url }}.key
	import personal_headers
}

video.{{ secret_personal_url }} {
	reverse_proxy https://10.10.10.10:443 {
		transport http {
			tls_server_name video.{{ secret_personal_url }}
		}
	}
	tls /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_url }}.crt /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_url }}.key
	import personal_headers
}

music.{{ secret_personal_url }} {
	reverse_proxy https://10.10.10.10:443 {
		transport http {
			tls_server_name music.{{ secret_personal_url }}
		}
	}
	tls /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_url }}.crt /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_url }}.key
	import personal_headers
}

notes.{{ secret_personal_url }} {
	reverse_proxy https://10.10.10.10:443 {
		transport http {
			tls_server_name notes.{{ secret_personal_url }}
		}
	}
	tls /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_url }}.crt /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_url }}.key
	import personal_headers
}

*.{{ secret_personal_url }} {
	redir {{ secret_redirect }}
	tls /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_url }}.crt /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_url }}.key
}
