#!/bin/bash

#/usr/local/bin/lego --email="fuzzy@fuzzymistborn.com" --domains="*.fuzzymistborn.com" --dns="hetzner" --dns.resolvers="9.9.9.9:53" --accept-tos --path /home/{{ main_username }}/lego run
#/usr/local/bin/lego --email="fuzzy@fuzzymistborn.com" --domains="*.ci.fuzzymistborn.com" --dns="hetzner" --dns.resolvers="9.9.9.9:53" --accept-tos --path /home/{{ main_username }}/lego run
#/usr/local/bin/lego --email="{{ secret_new_email }}" --domains="*.{{ secret_personal_url }}" --dns="hetzner" --dns.resolvers="9.9.9.9:53" --accept-tos --path /home/{{ main_username }}/lego run
#chown {{ main_username }}:user -R /home/{{ main_username }}/lego
#chmod -R 0664 /home/{{ main_username }}/lego

/usr/local/bin/lego --email="fuzzy@fuzzymistborn.com" --domains="*.fuzzymistborn.com" --dns="hetzner" --dns.resolvers="9.9.9.9:53" --path /home/{{ main_username }}/lego renew --days 45
/usr/local/bin/lego --email='fuzzy@fuzzymistborn.com' --domains="*.ci.fuzzymistborn.com" --dns='hetzner' --dns.resolvers="9.9.9.9:53" --path /home/{{ main_username }}/lego renew --days 45
/usr/local/bin/lego --email="{{ secret_new_email }}" --domains="*.{{ secret_personal_url }}" --dns="hetzner" --dns.resolvers="9.9.9.9:53" --path /home/{{ main_username }}/lego renew --days 45

/usr/bin/systemctl daemon-reload

/usr/bin/systemctl restart caddy

sleep 10s