#!/bin/bash

#LINODE_TOKEN={{secret_linode_token}} \
#/usr/local/bin/lego --email="fuzzymistborn@protonmail.com" --domains="*.fuzzymistborn.com" --dns="linode" --accept-tos --path /home/{{main_username}}/lego run \
#LINODE_TOKEN={{secret_linode_token}} \
#/usr/local/bin/lego --email="{{secret_new_email}}" --domains="*.{{secret_personal_url}}" --dns="linode" --accept-tos --path /home/{{main_username}}/lego run

LINODE_TOKEN={{secret_linode_token}} \
/usr/local/bin/lego --email="fuzzymistborn@protonmail.com" --domains="*.fuzzymistborn.com" --dns="linode" --path /home/{{main_username}}/lego renew --days 45

LINODE_TOKEN={{secret_linode_token}} \
/usr/local/bin/lego --email="{{secret_new_email}}" --domains="*.{{secret_personal_url}}" --dns="linode" --path /home/{{main_username}}/lego renew --days 45