#!/bin/bash

cd /home/{{ main_username }}
docker compose up -d gitea-db umami-db hedgedoc-db

sleep 30s
echo Restoring Gitea DB
cd /home/{{ main_username }}/db_backups/gitea
LAST_GITEA=$(ls -t | head -n 1)
cat /home/{{ main_username }}/db_backups/gitea/$LAST_GITEA | docker exec -i gitea-db psql -U gitea -d gitea

echo Restoring Umami DB
cd /home/{{ main_username }}/db_backups/umami
LAST_UMAMI=$(ls -t | head -n 1)
cat /home/{{ main_username }}/db_backups/umami/$LAST_UMAMI | docker exec -i umami-db psql -U umami -d umami

echo Restoring Hedgedoc DB
cd /home/{{ main_username }}/db_backups/hedgedoc
LAST_HEDGEDOC=$(ls -t | head -n 1)
cat /home/{{ main_username }}/db_backups/hedgedoc/$LAST_HEDGEDOC | docker exec -i hedgedoc-db psql -U hedgedoc -d hedgedoc