{
	log {
		output file /home/{{main_username}}/caddy/access.log {
			roll_size 10mb
			roll_keep 5
			roll_keep_for 168h
		}
	}
	email {{secret_email}}
}

*.{{secret_personal_internal_url}} {
	tls /home/{{main_username}}/lego/certificates/_.{{secret_personal_internal_url}}.crt /home/{{main_username}}/lego/certificates/_.{{secret_personal_internal_url}}.key {
	}

	@minio host minio.{{secret_personal_internal_url}}
	handle @minio {
		reverse_proxy http://192.168.30.25:9000
	}

	@hass host hass.{{secret_personal_internal_url}}
	handle @hass {
		reverse_proxy http://192.168.30.12:5315
	}

	@media host media.{{secret_personal_internal_url}}
	handle @media {
		reverse_proxy http://192.168.30.10:8096
	}

	@nodered host nodered.{{secret_personal_internal_url}}
	handle @nodered {
		reverse_proxy http://192.168.30.12:1880
	}

	@zwavejs host zwavejs.{{secret_personal_internal_url}}
	handle @zwavejs {
		reverse_proxy http://192.168.30.12:8091
	}

	@deconz host deconz.{{secret_personal_internal_url}}
	handle @deconz {
		reverse_proxy http://192.168.30.12:100
	}

	@cloud host cloud.{{secret_personal_internal_url}}
	handle @cloud {
		reverse_proxy http://192.168.30.11:3491
	}

	@wallabag host wallabag.{{secret_personal_internal_url}}
	handle @wallabag {
		reverse_proxy http://192.168.30.13:300
	}

	@news host news.{{secret_personal_internal_url}}
	handle @news {
		reverse_proxy http://192.168.30.13:8010
	}

	@paperless host paperless.{{secret_personal_internal_url}}
	handle @paperless {
		reverse_proxy http://192.168.30.13:8000
	}

	@transfer host transfer.{{secret_personal_internal_url}}
	handle @transfer {
		reverse_proxy http://192.168.30.13:3000
	}

	@portainer host portainer.{{secret_personal_internal_url}}
	handle @portainer {
		reverse_proxy http://192.168.30.10:9000
	}

	@adguard host adguard.{{secret_personal_internal_url}}
	handle @adguard {
		reverse_proxy http://192.168.50.10:81
	}

	@adguard2 host adguard2.{{secret_personal_internal_url}}
	handle @adguard2 {
		reverse_proxy http://192.168.50.11:81
	}

	@tinmind host tinmind.{{secret_personal_internal_url}}
	handle @tinmind {
		reverse_proxy http://192.168.30.25:5000
	}

	@lms host lms.{{secret_personal_internal_url}}
	handle @lms {
		reverse_proxy http://192.168.30.11:9000
	}

	@syncthing host syncthing.{{secret_personal_internal_url}}
	handle @syncthing {
		reverse_proxy http://192.168.30.11:8384
	}

	@sonarr host sonarr.{{secret_personal_internal_url}}
	handle @sonarr {
		reverse_proxy http://192.168.30.11:8989
	}

	@radarr host radarr.{{secret_personal_internal_url}}
	handle @radarr {
		reverse_proxy http://192.168.30.11:7878
	}

	@radarr_uhd host radarr_uhd.{{secret_personal_internal_url}}
	handle @radarr_uhd {
		reverse_proxy http://192.168.30.11:7879
	}

	@sabnzb host sabnzb.{{secret_personal_internal_url}}
	handle @sabnzb {
		reverse_proxy http://192.168.30.11:8060
	}

	@prowlarr host prowlarr.{{secret_personal_internal_url}}
	handle @prowlarr {
		reverse_proxy http://192.168.30.11:9696
	}

	@influx host influx.{{secret_personal_internal_url}}
	handle @influx {
		reverse_proxy http://192.168.30.14:8086
	}

	@bi host bi.{{secret_personal_internal_url}}
	handle @bi {
		reverse_proxy http://192.168.40.5:81
	}

	@scrutiny host scrutiny.{{secret_personal_internal_url}}
	handle @scrutiny {
		reverse_proxy http://192.168.30.10:8080
	}

	@handbrake host handbrake.{{secret_personal_internal_url}}
	handle @handbrake {
		reverse_proxy http://192.168.30.10:5800
	}

	@photos host photos.{{secret_personal_internal_url}}
	handle @photos {
		reverse_proxy http://192.168.30.11:8000
	}

	@dashboard host dashboard.{{secret_personal_internal_url}}
	handle @dashboard {
		reverse_proxy http://192.168.30.13:5100
	}
