  piper:
    image: rhasspy/wyoming-piper:latest
    container_name: piper
    volumes:
      - "{{ appdata_path }}/piper:/data"
    ports:
      - 10200:10200
    command: --voice en_US-hfc_female-medium
    restart: unless-stopped