  whisper:
    image: lscr.io/linuxserver/faster-whisper:3.1.0-gpu
    container_name: whisper
    environment:
      - UID={{ main_uid }}
      - GID={{ main_gid }}
      - PUID={{ main_uid }}
      - PGID={{ main_gid }}
      - TZ={{ ntp_timezone }}
      - WHISPER_MODEL=medium-int8
      - WHISPER_BEAM=4
      - WHISPER_LANG=en
    volumes:
      - "{{ appdata_path }}/whisper:/data"
    ports:
      - 10300:10300
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
    restart: unless-stopped