#!/bin/bash
python3 /home/{{main_username}}/hangoutsbot/hangupsbot/hangupsbot.py --cookies ~/.local/share/hangupsbot/BAR/cookies.json --memory ~/.local/share/hangupsbot/BAR/memory.json --config ~/.local/share/hangupsbot/BAR/config.json --log ~/.local/share/hangupsbot/BAR/hangupsbot.log
