#!/bin/bash
python3 /home/{{main_username}}/hangoutsbot/hangupsbot/hangupsbot.py --cookies ~/.local/share/hangupsbot/MATH/cookies.json --memory ~/.local/share/hangupsbot/MATH/memory.json --config ~/.local/share/hangupsbot/MATH/config.json --log ~/.local/share/hangupsbot/MATH/hangupsbot.log
