#!/bin/bash
python3 /home/{{main_username}}/hangoutsbot/hangupsbot/hangupsbot.py --cookies ~/.local/share/hangupsbot/PhantomBot/cookies.json --memory ~/.local/share/hangupsbot/PhantomBot/memory.json --config ~/.local/share/hangupsbot/PhantomBot/config.json --log ~/.local/share/hangupsbot/PhantomBot/hangupsbot.log
