$ModLoad imfile
$InputFileName /home/{{main_username}}/docker/bitwarden/data/bitwarden.log
$InputFileTag bitwarden
$InputFileStateFile bitwarden-error
$InputFileSeverity error
$InputFileFacility local3
$InputFilePollInterval 1
$InputFilePersistStateInterval 1
$InputRunFileMonitor

*.* @@{{secret_linode_ip}}:{{secret_rsyslog_port}}