[Unit]
Description=Homebox Label Monitor Service
After=network.target

[Service]
ExecStart=/home/{{ main_username }}/scripts/monitor_homebox.sh
Restart=always
User=root

[Install]
WantedBy=multi-user.target