- id: reboot
  execute-command: "reboot"
  command-working-directory: "/sbin"

- id: suspend
  execute-command: "systemctl"
  command-working-directory: "/bin"
  pass-arguments-to-command:
    [{
      "source": "string",
      "name": "suspend"
    }]

- id: steamdeck_res
  execute-command: "kscreen-doctor"
  command-working-directory: "/sbin"
  pass-arguments-to-command:
    [
      {
      "source": "string",
      "name": "output.DP-2.mode.1280x800@30"
      }
    ]