[Unit]
Description=Mount NFS NVR at boot

[Mount]
What=192.168.10.20:/volume1/BlueIris/
Where=/mnt/NVR
Options=
Type=nfs
TimeoutSec=30

[Install]
WantedBy=multi-user.target