services:
  radarr:
    image: ghcr.io/linuxserver/radarr:6.0.4
    container_name: radarr
    volumes:
      - "{{ appdata_path }}/radarr:/config"
      - /mnt/Media/Movies:/movies
      - /mnt/Media/Kids Movies:/kids_movies
      - /mnt/Media/Parents Movies:/parents_movies
      - /mnt/scratch/complete:/downloads
    ports:
      - 7878:7878
    environment:
      - UID={{ main_uid }}
      - GID={{ main_gid }}
      - PUID={{ main_uid }}
      - PGID={{ main_gid }}
      - TZ={{ ntp_timezone }}
    restart: unless-stopped
  radarr_uhd:
    image: ghcr.io/linuxserver/radarr:6.0.4
    container_name: radarr_uhd
    volumes:
      - "{{ appdata_path }}/radarr_uhd:/config"
      - /mnt/Media/UHD:/uhd
      - /mnt/scratch/complete:/downloads
    ports:
      - 7879:7878
    environment:
      - UID={{ main_uid }}
      - GID={{ main_gid }}
      - PUID={{ main_uid }}
      - PGID={{ main_gid }}
      - TZ={{ ntp_timezone }}
    restart: unless-stopped
  sonarr:
    image: ghcr.io/linuxserver/sonarr:4.0.16
    container_name: sonarr
    volumes:
      - "{{ appdata_path }}/sonarr:/config"
      - /mnt/Media/TV Shows:/tv
      - /mnt/Media/Kids TV:/kids_tv
      - /mnt/Media/Parents TV:/parents_tv
      - /mnt/scratch/complete:/downloads
    ports:
      - 8989:8989
    environment:
      - UID={{ main_uid }}
      - GID={{ main_gid }}
      - PUID={{ main_uid }}
      - PGID={{ main_gid }}
      - TZ={{ ntp_timezone }}
    restart: unless-stopped
  recyclarr:
    image: ghcr.io/recyclarr/recyclarr:7.5.2
    container_name: recyclarr
    user: 1000:1000
    volumes:
      - "{{ appdata_path }}/recyclarr/config:/config"
    environment:
      - TZ=America/New_York
  prowlarr:
    image: ghcr.io/linuxserver/prowlarr:2.3.0
    container_name: prowlarr
    volumes:
      - "{{ appdata_path }}/prowlarr:/config"
    ports:
      - 9696:9696
    environment:
      - UID={{ main_uid }}
      - GID={{ main_gid }}
      - PUID={{ main_uid }}
      - PGID={{ main_gid }}
      - TZ={{ ntp_timezone }}
    restart: unless-stopped
  sabnzbd:
    image: ghcr.io/linuxserver/sabnzbd:4.5.5
    container_name: sabnzbd
    volumes:
      - "{{ appdata_path }}/sabnzb:/config"
      - /mnt/scratch/complete:/downloads
      - /mnt/scratch/incomplete:/incomplete-downloads
    ports:
      - 8060:8080
      - 9080:9090
    environment:
      - UID={{ main_uid }}
      - GID={{ main_gid }}
      - PUID={{ main_uid }}
      - PGID={{ main_gid }}
      - TZ={{ ntp_timezone }}
    restart: unless-stopped
  jellyseerr:
    image: ghcr.io/fallenbagel/jellyseerr:2.7.3
    init: true
    container_name: jellyseerr
    environment:
      - TZ={{ ntp_timezone }}
    ports:
      - 5055:5055
    volumes:
      - "{{ appdata_path }}/jellyseerr:/app/config"
    restart: always
  yamtrack:
    image: ghcr.io/fuzzygrim/yamtrack:0.24.11
    container_name: yamtrack
    ports:
      - 8000:8000
    depends_on:
      - yamtrack-redis
    volumes:
      - "{{ appdata_path }}/yamtrack/db:/yamtrack/db"
    environment:
      - TZ={{ ntp_timezone }}
      - SECRET=lztZqfM2Ac5MFoZ86hn7mw+pGretDlfb9A==
      - REDIS_URL=redis://yamtrack-redis:6379
    restart: unless-stopped
  yamtrack-redis:
    container_name: yamtrack-redis
    image: redis:8.4.0-alpine
    restart: unless-stopped
    volumes:
      - "{{ appdata_path }}/yamtrack/redis:/data"
  audiobookshelf:
    image: ghcr.io/advplyr/audiobookshelf:2.32.1
    container_name: audiobookshelf
    volumes:
      - "{{ appdata_path }}/audiobookshelf/config:/config"
      - "{{ appdata_path }}/audiobookshelf/metadata:/metadata"
      - /mnt/Media/Audiobooks:/audiobooks
    ports:
      - 13378:80
    environment:
      - UID={{ main_uid }}
      - GID={{ main_gid }}
      - PUID={{ main_uid }}
      - PGID={{ main_gid }}
      - TZ={{ ntp_timezone }}
    restart: unless-stopped
  nextcloud:
    image: ghcr.io/fuzzymistborn/nextcloud-docker:31.0.7
    container_name: nextcloud
    volumes:
      - "{{ appdata_path }}/nextcloud_docker/html:/var/www/html"
    ports:
      - 3491:80
      - 3492:443
    environment:
      - UID={{ main_uid }}
      - GID={{ main_gid }}
      - PUID={{ main_uid }}
      - PGID={{ main_gid }}
      - TZ={{ ntp_timezone }}
    mem_limit: 1000M
    restart: unless-stopped
  nextcloud-redis:
    image: redis:8.4.0
    container_name: nextcloud-redis
    restart: unless-stopped
  navidrome:
    image: ghcr.io/navidrome/navidrome:0.59.0
    container_name: navidrome
    volumes:
      - "{{ appdata_path }}/navidrome/data:/data"
      - /mnt/Media/Music:/music:ro
    ports:
      - 4533:4533
    environment:
      - ND_ENABLECOVERANIMATION=false
      - ND_ENABLEINSIGHTSCOLLECTOR=false
      - ND_SCANSCHEDULE=12h
      - ND_BASEURL=https://music.{{ secret_personal_internal_url }}
    restart: unless-stopped
  pinchflat:
    image: ghcr.io/kieraneglin/pinchflat:v2025.6.6
    container_name: pinchflat
    volumes:
      - "{{ appdata_path }}/pinchflat/config:/config"
      - /mnt/Media/YouTube/Pinchflat:/downloads
    ports:
      - 8945:8945
    environment:
      - TZ={{ ntp_timezone }}
    restart: unless-stopped
  booklore:
    image: booklore/booklore:v1.18.5
    container_name: booklore
    environment:
      - USER_ID={{ main_uid }}
      - GROUP_ID={{ main_gid }}
      - TZ={{ ntp_timezone }}
      - DATABASE_URL=jdbc:mariadb://192.168.50.22:3310/booklore
      - DATABASE_USERNAME=booklore
      - DATABASE_PASSWORD={{ secret_booklore_db_pass }}
      - BOOKLORE_PORT=6060
    ports:
      - 6060:6060
    volumes:
      - "{{ appdata_path }}/booklore/data:/app/data"
      - /mnt/Media/Ebooks/Booklore:/books
      - /mnt/Media/Ebooks/Booklore-Import:/bookdrop
    restart: unless-stopped
  romm:
    image: rommapp/romm:4.5.0
    container_name: romm
    restart: unless-stopped
    environment:
      - DB_HOST=192.168.50.22
      - DB_PORT=3309
      - DB_NAME=romm
      - DB_USER=romm-user
      - DB_PASSWD={{ secret_romm_db_pass }}
      - TZ={{ ntp_timezone }}
      - ROMM_AUTH_SECRET_KEY={{ secret_romm_auth_key }}
      - SCREENSCRAPER_USER=fuzzymistborn
      - SCREENSCRAPER_PASSWORD={{ secret_screenscraper_pass }}
      - STEAMGRIDDB_API_KEY={{ secret_steamgrid_api_key }}
      - HASHEOUS_API_ENABLED=true
      - OIDC_ENABLED=true
      - OIDC_PROVIDER=pocketid
      - OIDC_CLIENT_ID={{ secret_romm_pocket_id_user }}
      - OIDC_CLIENT_SECRET={{ secret_romm_pocket_id_key }}
      - OIDC_REDIRECT_URI=https://roms.{{ secret_personal_url }}/api/oauth/openid
      - OIDC_SERVER_APPLICATION_URL=https://id.{{ secret_personal_url }}/
    volumes:
      - "{{ appdata_path }}/ROMM/config:/romm/config"
      - "{{ appdata_path }}/ROMM/redis:/redis-data"
      - /mnt/Media/Files/Roms/ROMM/resources:/romm/resources
      - /mnt/Media/Files/Roms/ROMM/library:/romm/library
      - /mnt/Media/Files/Roms/ROMM/assets:/romm/assets
    ports:
      - 2500:8080
  crowdsec:
    image: ghcr.io/crowdsecurity/crowdsec:v1.7.4
    container_name: crowdsec
    volumes:
      - "{{ appdata_path }}/crowdsec/data/acquis.yaml:/etc/crowdsec/acquis.yaml"
      - "{{ appdata_path }}/nextcloud_docker/html/data:/var/log/nextcloud:ro"
      - "{{ appdata_path }}/sonarr/logs:/var/log/sonarr:ro"
      - "{{ appdata_path }}/radarr/logs:/var/log/radarr:ro"
      - "{{ appdata_path }}/crowdsec/db:/var/lib/crowdsec/data/"
    environment:
      - COLLECTIONS=schiz0phr3ne/sonarr schiz0phr3ne/radarr crowdsecurity/nextcloud
      - GID=1000
      - DISABLE_LOCAL_API=true
      - AGENT_USERNAME={{ hostname }}
      - AGENT_PASSWORD={{ secret_crowdsec_endowment_pw }}
      - LOCAL_API_URL=http://{{ secret_ambition_ip }}:8080
    restart: unless-stopped
  portainer_agent:
    image: portainer/agent:2.37.0
    container_name: portainer_agent
    privileged: true
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /var/lib/docker/volumes:/var/lib/docker/volumes
    ports:
      - 9001:9001
    environment:
      - AGENT_SECRET={{ secret_portainer_key }}
    restart: unless-stopped
