services:
  portainer_agent:
    image: portainer/agent:2.37.0
    container_name: portainer_agent
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /var/lib/docker/volumes:/var/lib/docker/volumes
    ports:
      - 9001:9001
    environment:
      - AGENT_SECRET={{ secret_portainer_key }}
    restart: unless-stopped
  ollama-server:
    image: ollama/ollama:0.15.1
    container_name: ollama-server
    volumes:
      - /mnt/llms/ollama:/root/.ollama
    ports:
      - 11434:11434
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities:
                - gpu
    restart: unless-stopped
  open-webui:
    image: ghcr.io/open-webui/open-webui:0.7.2
    container_name: open-webui
    extra_hosts:
      - host.docker.internal:host-gateway
    volumes:
      - "{{ appdata_path }}/ollama-webui:/app/backend/data"
    ports:
      - 3010:8080
    restart: unless-stopped
  crowdsec:
    image: ghcr.io/crowdsecurity/crowdsec:v1.7.4
    container_name: crowdsec
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - "{{ appdata_path }}/crowdsec/data/acquis.yaml:/etc/crowdsec/acquis.yaml"
      - "{{ appdata_path }}/crowdsec/db:/var/lib/crowdsec/data/"
    environment:
      - COLLECTIONS=gauth-fr/immich
      - GID=1000
      - DISABLE_LOCAL_API=true
      - AGENT_USERNAME={{ hostname }}
      - AGENT_PASSWORD={{ secret_crowdsec_virtuosity_pw }}
      - LOCAL_API_URL=http://{{ secret_ambition_ip }}:8080
    restart: unless-stopped
  immich-server:
    image: ghcr.io/immich-app/immich-server:v2.4.1
    container_name: immich-server
    volumes:
      - /mnt/immich-uploads:/usr/src/app/upload
      - /mnt/photos:/mnt/photos:ro
      - /etc/localtime:/etc/localtime:ro
    ports:
      - 2283:2283
    environment:
      - DB_PASSWORD={{ secret_immich_db_pass }}
      - DB_USERNAME=postgres
      - DB_DATABASE_NAME=immich
      - REDIS_HOSTNAME=immich-redis
      - DB_HOSTNAME=immich-database
    depends_on:
      - immich-redis
      - immich-database
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities:
                - gpu
                - compute
                - video
    restart: unless-stopped
  immich-machine-learning:
    image: ghcr.io/immich-app/immich-machine-learning:v2.4.1-cuda
    container_name: immich_machine_learning
    volumes:
      - "{{ appdata_path }}/immich/model-cache:/cache"
    depends_on:
      - immich-redis
      - immich-database
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities:
                - gpu
    restart: unless-stopped
  immich-redis:
    image: docker.io/valkey/valkey:9@sha256:fb8d272e529ea567b9bf1302245796f21a2672b8368ca3fcb938ac334e613c8f
    container_name: immich_redis
    restart: unless-stopped
  immich-database:
    image: ghcr.io/immich-app/postgres:14-vectorchord0.4.3-pgvectors0.2.0@sha256:bcf63357191b76a916ae5eb93464d65c07511da41e3bf7a8416db519b40b1c23
    container_name: immich_database
    volumes:
      - "{{ appdata_path }}/immich/database:/var/lib/postgresql/data"
    environment:
      - POSTGRES_PASSWORD={{ secret_immich_db_pass }}
      - POSTGRES_USER=postgres
      - POSTGRES_DB=immich
      - POSTGRES_INITDB_ARGS='--data-checksums'
    restart: unless-stopped
  whisper:
    image: lscr.io/linuxserver/faster-whisper:3.0.2-gpu
    container_name: whisper
    environment:
      - UID={{ main_uid }}
      - GID={{ main_gid }}
      - PUID={{ main_uid }}
      - PGID={{ main_gid }}
      - TZ={{ ntp_timezone }}
      - WHISPER_MODEL=medium-int8
      - WHISPER_BEAM=4
      - WHISPER_LANG=en
    volumes:
      - "{{ appdata_path }}/whisper:/data"
    ports:
      - 10300:10300
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
    restart: unless-stopped
