#!/bin/bash
/home/{{ main_username }}/.local/bin/catt -d 192.168.30.70 cast_site "http://192.168.1.10:5000/api/frontdoor?fps=15&height=1080"

sleep 45s

/home/{{ main_username }}/.local/bin/catt -d 192.168.30.70 stop