# Config section
# Fill in the next 2 lines if your MQTT server expected authentication
MQTT_USER="homeassistant"
MQTT_PASS="{{ secret_mqtt_pass }}"
MQTT_HOST="192.168.30.12"
MQTT_PORT=1883
MQTT_TOPIC="rtl_433"
MQTT_QOS=0
DEBUG=False # Change to True to log all MQTT messages
# End config section