from splinter import Browser

browser = Browser(driver_name='remote',
    command_executor='http://localhost:4444/wd/hub',
    browser='firefox',
    wait_time=20
)
browser.visit("https://traffic.{{ secret_personal_internal_url }}")

# Solution to fix "wait" which is broken
browser.find_by_css('Test')

browser.screenshot("/home/{{ main_username }}/hass/tmp/google_traffic", full=True, unique_file=False)

browser.quit()