$ModLoad imfile
$InputFilePollInterval 3
# Homeassistant
$InputFileName /home/{{ main_username }}/hass_docker/home-assistant.log
$InputFileTag homeassistant:

$InputFileStateFile hass-error
$InputRunFileMonitor

*.* @@{{ secret_ambition_ip }}:{{ secret_rsyslog_port }}