services:
  woodpecker-agent-github:
    image: quay.io/woodpeckerci/woodpecker-agent:v3.13.0
    container_name: woodpecker-agent-github
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /etc/localtime:/etc/localtime:ro
    ports:
      - 4300:3000
    environment:
      - WOODPECKER_SERVER=githubagent.ci.fuzzymistborn.com
      - WOODPECKER_GRPC_SECURE=true
      - WOODPECKER_AGENT_SECRET={{ secret_investiture_rpc }}
      - WOODPECKER_HOSTNAME=Ishap-Github
      - WOODPECKER_MAX_WORKFLOWS=2
      - WOODPECKER_PLUGINS_PRIVILEGED=woodpeckerci/plugin-docker-buildx:5.0.0
    restart: unless-stopped
  woodpecker-agent-gitea:
    image: quay.io/woodpeckerci/woodpecker-agent:v3.13.0
    container_name: woodpecker-agent-gitea
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /etc/localtime:/etc/localtime:ro
    ports:
      - 4301:3000
    environment:
      - WOODPECKER_SERVER=giteaagent.ci.fuzzymistborn.com
      - WOODPECKER_GRPC_SECURE=true
      - WOODPECKER_AGENT_SECRET={{ secret_investiture_rpc }}
      - WOODPECKER_HOSTNAME=Ishap-Gitea
      - WOODPECKER_MAX_WORKFLOWS=2
      - WOODPECKER_PLUGINS_PRIVILEGED=woodpeckerci/plugin-docker-buildx:5.0.0
    restart: unless-stopped
  hawser:
    image: ghcr.io/finsys/hawser:0.2.29
    container_name: hawser
    volumes:
      - "{{ appdata_path }}/hawser:/data/stacks"
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - 2376:2376
    environment:
      - TOKEN={{ secret_hawser_key }}
    restart: unless-stopped
