services:
  jellyfin:
    image: ghcr.io/linuxserver/jellyfin:10.11.6
    container_name: jellyfin
    devices:
      - /dev/dri/renderD128:/dev/dri/renderD128
    volumes:
      - "{{ appdata_path }}/jellyfin/config:/config"
      - /mnt/scratch/transcode:/transcode
      - /mnt/Media/Movies:/mnt/movies
      - /mnt/Media/UHD:/mnt/UHD
      - /mnt/Media/TV Shows:/mnt/tv
      - /mnt/Media/Kids Movies:/mnt/kids
      - /mnt/Media/Kids TV:/mnt/kids_tv
      - /mnt/Media/YouTube/Kids:/mnt/kids_youtube
      - /mnt/Media/YouTube/Pinchflat:/mnt/pinchflat
      - /mnt/Media/Parents Movies:/mnt/parents_movies
      - /mnt/Media/Parents TV:/mnt/parents_tv
      - /mnt/Media/Family Videos:/mnt/home_videos
    ports:
      - 8096:8096
    environment:
      - UID=1001
      - GID=1001
      - PUID=1001
      - PGID=1001
      - TZ={{ ntp_timezone }}
    restart: unless-stopped
  handbrake:
    image: ghcr.io/jlesage/handbrake:v26.01.1
    container_name: handbrake
    devices:
      - /dev/dri/renderD128:/dev/dri/renderD128
    volumes:
      - "{{ appdata_path }}/handbrake/config:/config"
      - "{{ appdata_path }}/handbrake/storage:/storage"
      - /mnt/Media/Movies/1-Processing/Handbrake/Watch:/watch
      - /mnt/Media/Movies/1-Processing/Handbrake/Output:/output
      - "/mnt/Media/Kids Movies:/stuff/kids_movies:ro"
      - "/mnt/Media/Kids TV:/stuff/kids_tv:ro"
      - "/mnt/Media/Movies:/stuff/movies:ro"
      - "/mnt/Media/TV Shows:/stuff/tv:ro"
    ports:
      - 5800:5800
    environment:
      - TZ={{ ntp_timezone }}
      - USER_ID=1001
      - GROUP_ID=1001
    restart: unless-stopped
  crowdsec:
    image: ghcr.io/crowdsecurity/crowdsec:v1.7.6
    container_name: crowdsec
    volumes:
      - "{{ appdata_path }}/crowdsec/data/acquis.yaml:/etc/crowdsec/acquis.yaml"
      - "{{ appdata_path }}/jellyfin/config/log/:/var/log/jellyfin:ro"
      - "{{ appdata_path }}/crowdsec/db:/var/lib/crowdsec/data/"
    environment:
      - COLLECTIONS=LePresidente/jellyfin
      - GID=1001
      - DISABLE_LOCAL_API=true
      - AGENT_USERNAME={{ hostname }}
      - AGENT_PASSWORD={{ secret_crowdsec_whimsy_pw }}
      - LOCAL_API_URL=http://{{ secret_ambition_ip }}:8080
    restart: unless-stopped
  firefox:
    image: lscr.io/linuxserver/firefox:1147.0.4
    container_name: firefox
    environment:
      - PUID=1000
      - PGID=1000
      - TZ={{ ntp_timezone }}
    volumes:
      - "{{ appdata_path }}/firefox/config:/config"
    ports:
      - 3000:3000
      - 3001:3001
    shm_size: "1gb"
    restart: unless-stopped
  tailscale:
    image: ghcr.io/tailscale/tailscale:v1.94.2
    container_name: tailscale
    network_mode: service:firefox
    privileged: true
    cap_add:
      - net_admin
      - sys_module
    devices:
      - /dev/net/tun:/dev/net/tun
    volumes:
      - "{{ appdata_path }}/tailscale/config:/config"
      - "{{ appdata_path }}/tailscale/state:/var/lib/tailscale"
    environment:
      - TS_HOSTNAME=whimsy
      - TS_EXTRA_ARGS= --accept-routes
      - TS_ACCEPT_DNS=true
      - TS_STATE_DIR=/var/lib/tailscale
      - TS_USERSPACE=false
    restart: unless-stopped
  hawser:
    image: ghcr.io/finsys/hawser:0.2.29
    container_name: hawser
    volumes:
      - "{{ appdata_path }}/hawser:/data/stacks"
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - 2376:2376
    environment:
      - TOKEN={{ secret_hawser_key }}
    restart: unless-stopped
