services:
  dockhand:
    image: fnsys/dockhand:v1.0.17
    container_name: dockhand
    restart: unless-stopped
    ports:
      - 3500:3000
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /home/geoff/docker/dockhand:/app/data
  frigate:
    image: ghcr.io/blakeblackshear/frigate:0.16.4
    container_name: frigate
    devices:
      - /dev/bus/usb:/dev/bus/usb
      - /dev/dri/renderD128:/dev/dri/renderD128
    volumes:
      - "{{ appdata_path }}/frigate/config:/config"
      - /mnt/Media/Frigate:/media/frigate
      - /etc/localtime:/etc/localtime:ro
    ports:
      - 8971:8971
      - 5000:5000
      - 8554:8554
      - 8555:8555/tcp
      - 8555:8555/udp
      - 1984:1984
    environment:
      - FRIGATE_RTSP_PASSWORD='password'
      - PLUS_API_KEY={{ secret_frigate_plus_api }}
      - FRIGATE_JWT_SECRET={{ secret_frigate_jwt }}
    shm_size: 200mb
    tmpfs:
      - /tmp/cache
    restart: unless-stopped
  scrutiny:
    image: ghcr.io/analogj/scrutiny:v0.8.6-omnibus
    container_name: scrutiny
    cap_add:
      - SYS_RAWIO
      - SYS_ADMIN
    devices:
      - /dev/sda:/dev/sda
      - /dev/sdb:/dev/sdb
      - /dev/sdc:/dev/sdc
      - /dev/sdd:/dev/sdd
      - /dev/sde:/dev/sde
      - /dev/nvme0:/dev/nvme0
    volumes:
      - "{{ appdata_path }}/scrutiny:/opt/scrutiny/config"
      - /run/udev:/run/udev:ro
    ports:
      - 8080:8080
    restart: unless-stopped
  uptime:
    image: louislam/uptime-kuma:2.1.3
    container_name: uptime
    volumes:
      - "{{ appdata_path }}/uptime:/app/data"
    ports:
      - 3001:3001
    restart: unless-stopped
  calibre:
    image: lscr.io/linuxserver/calibre:9.2.1
    container_name: calibre
    volumes:
      - "{{ appdata_path }}/calibre:/config"
      - /mnt/Media/Ebooks:/books
    ports:
      - 8085:8080
      - 8181:8181
      - 8081:8081
    environment:
      - UID={{ main_uid }}
      - GID={{ main_gid }}
      - PUID={{ main_uid }}
      - PGID={{ main_gid }}
      - TZ={{ ntp_timezone }}
    restart: unless-stopped
  nut-ups:
    image: fuzzymistborn/nut-upsd:2.8.2
    container_name: nut-ups
    devices:
      - /dev/bus/usb:/dev/bus/usb
    ports:
      - 3493:3493
    environment:
      - API_USER=homeassistant
      - API_PASSWORD={{ secret_nut_api_pw }}
    restart: unless-stopped
  termix:
    image: ghcr.io/lukegus/termix:release-1.11.1
    container_name: termix
    restart: unless-stopped
    ports:
      - "8050:8080"
    volumes:
      - "{{ appdata_path }}/termix:/app/data"
    environment:
      - PORT=8080
