#!/bin/bash

# Nextcloud DB Backup
echo Backing up Nextcloud DB
today=$(date +"%Y_%m_%d")
docker exec ha-db sh -c 'pg_dumpall -U nextcloud' > /home/{{ main_username }}/db_backups/nextcloud/nextcloudDB_$today.sql

#### Vaultwarden DB Backup
echo Backing up Vaultwarden DB
today=$(date +"%Y_%m_%d")
docker exec vaultwarden-db sh -c 'pg_dumpall -U vaultwarden' > /home/{{ main_username }}/db_backups/vaultwarden/vaultwardenDB_$today.sql

#### HA DB Backup
echo Backing up HA DB
today=$(date +"%Y_%m_%d")
docker exec ha-db sh -c 'pg_dumpall -U homeassistant' > /home/{{ main_username }}/db_backups/ha/haDB_$today.sql

#### ROMM DB Backup
echo Backing up ROMM DB
today=$(date +"%Y_%m_%d")
docker exec romm-db sh -c 'exec mariadb-dump --single-transaction -h localhost -u romm-user -p{{ secret_romm_db_pass }} romm' > /home/{{ main_username }}/db_backups/romm/rommDB_$today.sql

#### Invidious DB Backup
echo Backing up Invidious DB
today=$(date +"%Y_%m_%d")
docker exec invidious-db sh -c 'pg_dumpall -U kemal' > /home/{{ main_username }}/db_backups/indivious/invidiousDB_$today.sql

#### Linkwarden DB Backup
echo Backing up Linkwarden DB
today=$(date +"%Y_%m_%d")
docker exec linkwarden-db sh -c 'pg_dumpall -U postgres' > /home/{{ main_username }}/db_backups/linkwarden/linkwardenDB_$today.sql

#### Booklore DB Backup
echo Backing up Booklore DB
today=$(date +"%Y_%m_%d")
docker exec booklore-db sh -c 'exec mariadb-dump --single-transaction --skip-ssl -h localhost -u booklore -p{{ secret_booklore_db_pass }} booklore' > /home/{{ main_username }}/db_backups/booklore/bookloreDB_$today.sql

#### InfluxDB Backup
echo Backing up InfluxDB
docker exec influx-db sh -c 'influx backup \
  /media/backup/$(date +"%Y.%m.%d") \
  -t {{ secret_influxdb_token }} && chmod 777 -R /media/backup'

#### Delete Old
find /home/{{ main_username }}/db_backups/* -mtime +6 -type f -delete
find /home/{{ main_username }}/db_backups/influxdb -mtime +6 -type d -delete
find /home/{{ main_username }}/db_backups/influxdb -type d -empty -delete

#### Backup the backups
/usr/local/bin/autorestic backup -a -c /home/{{ main_username }}/.autorestic.yml