#!/bin/bash

cd /home/{{ main_username }}
docker compose up -d nextcloud-db bitwarden-db hass-db influx-db

sleep 30s
echo Restoring Nextcloud DB
cd /home/{{ main_username }}/db_backups/nextcloud
LAST_NEXTCLOUD=$(ls -t | head -n 1)
docker exec -i nextcloud-db mariadb -u {{ main_username }} -p{{ secret_nextcloud_db_pass }} nextcloud < /home/{{ main_username }}/db_backups/nextcloud/$LAST_NEXTCLOUD

echo Restoring Bitwarden DB
cd /home/{{ main_username }}/db_backups/bitwarden
LAST_BITWARDEN=$(ls -t | head -n 1)
docker exec -i bitwarden-db mariadb -u bitwarden -p{{ secret_bitwarden_db_pass }} bitwarden_rs < /home/{{ main_username }}/db_backups/bitwarden/$LAST_BITWARDEN

echo Restoring HASS DB
cd /home/{{ main_username }}/db_backups/hass
LAST_HASS=$(ls -t | head -n 1)
docker exec -i hass-db mariadb -u hass -p{{ secret_hass_db_pass }} homeassistant < /home/{{ main_username }}/db_backups/hass/$LAST_HASS

echo Restoring Invidious DB
cd /home/{{ main_username }}/db_backups/invidious
LAST_INVIDIOUS=$(ls -t | head -n 1)
cat /home/{{ main_username }}/db_backups/invidious/$LAST_INVIDIOUS | docker exec -i invidious-db psql -U kemal -d invidious

echo Restoring Linkwarden DB
cd /home/{{ main_username }}/db_backups/linkwarden
LAST_LINKWARDEN=$(ls -t | head -n 1)
cat /home/{{ main_username }}/db_backups/linkwarden/$LAST_LINKWARDEN | docker exec -i linkwarden-db psql -U postgres -d postgres

#echo Restoring InfluxDB
# Run `docker exec -it influx-db sh` and then run below commands
# influx setup -t {{ secret_influxdb_token }}
# influx restore --full /media/backup/DATE
# Lots of user input data, probably not easy to automate/ansible-ize