---
- name: Set a hostname
  hostname:
    name: ambition

- name: create config directories
  file:
    path: /home/{{ main_username }}/{{ item }}
    state: directory
    owner: "{{ main_username }}"
    group: "{{ main_groupname }}"
  loop:
    - docker
    - db_backups
    - db_backups/gitea
    - db_backups/umami
    - scripts
    - caddy

- name: create blog directories
  file:
    path: /var/{{ item }}
    state: directory
    owner: "{{ main_username }}"
    group: "{{ main_groupname }}"
  loop:
    - www
    - www/blog
    - www/staging

#### Add Extra SSH keys
- name: Update SSH Keys
  authorized_key:
    user: "{{ item.user }}"
    state: "{{ item.state }}"
    key: "{{ item.ssh }}"
  loop:
    - {user: "{{ main_username }}", state: absent, ssh: "{{ secret_main_user_ssh }}"}
    - {user: "{{ main_username }}", state: absent, ssh: "{{ secret_main_user_alt_ssh }}"}
    - {user: "{{ main_username }}", state: present, ssh: "{{ secret_main_user_ambition_ssh }}"}
    - {user: "{{ main_username }}", state: present, ssh: "{{ secret_main_user_pixel_ssh }}"}
    - {user: "{{ main_username }}", state: present, ssh: "{{ secret_main_user_ambition_investiture }}"}
    - {user: "{{ main_username }}", state: present, ssh: "{{ secret_main_user_ambition_work_ssh }}"}
    - {user: "{{ main_username }}", state: present, ssh: "{{ secret_main_user_ambition_lxc_ssh }}"}
    - {user: "{{ main_username }}", state: present, ssh: "{{ secret_main_user_code_server_ssh }}"}

- name: Add GitHub SSH Key
  copy:
    dest: /home/{{ main_username }}/.ssh/github
    owner: "{{ main_username }}"
    group: "{{ main_username }}"
    mode: 0600
    content: "{{ secret_ambition_github_ssh }}"
- name: Add Gitea SSH Key
  copy:
    dest: /home/{{ main_username }}/.ssh/gitea
    owner: "{{ main_username }}"
    group: "{{ main_username }}"
    mode: 0600
    content: "{{ secret_gitea_ssh }}"
- name: Copy Github script
  template:
    src: github.sh.j2
    dest: /home/{{ main_username }}/github.sh
    owner: "{{ main_username }}"
    group: "{{ main_username }}"
    mode: +x
- name: Add ssh config
  copy:
    dest: /home/{{ main_username }}/.ssh/config
    owner: "{{ main_username }}"
    group: "{{ main_username }}"
    mode: 0664
    content: |
      Host github.com
        IdentityFile ~/.ssh/github
      Host git.fuzzymistborn.com
        user git
        HostName remote.fuzzymistborn.com
        Port 222
        IdentityFile ~/.ssh/gitea
- name: Run Github Script
  command: /bin/bash ./github.sh
  args:
    chdir: "/home/{{ main_username }}"
- name: Remove Github script
  file:
    path: /home/{{ main_username }}/github.sh
    state: absent

- name: Copy db backup script template
  template:
    src: "{{ item.src }}"
    dest: /home/{{ main_username }}/scripts/{{ item.dest }}
    owner: "{{ main_username }}"
    group: "{{ main_username }}"
    mode: +x
  loop:
    - {src: 'db_backup.sh.j2', dest: 'db_backup.sh'}
    - {src: 'db_restore.sh.j2', dest: 'db_restore.sh'}
    - {src: 'certs.sh.j2', dest: 'certs.sh'}

### Backup Restore
- name: Create restore script
  copy:
    dest: /home/{{ main_username }}/restore.sh
    owner: "{{ main_username }}"
    group: "{{ main_username }}"
    mode: +x
    content: |
      #!/bin/bash
      /usr/local/bin/autorestic restore -f -l docker --from b2_docker --to /
      /usr/local/bin/autorestic restore -f -l db --from b2_db --to /
      /usr/local/bin/autorestic restore -f -l certs --from b2_certs --to /
  when: pull_backup == true

- name: Run restore script
  command: /bin/bash ./restore.sh
  args:
    chdir: "/home/{{ main_username }}"
  when: pull_backup == true

- name: Remove restore script
  file:
    path: /home/{{ main_username }}/restore.sh
    state: absent
  when: pull_backup == true

#### Restore Databases
- name: Run DB Restore Script
  command: /bin/bash ./db_restore.sh
  args:
    chdir: "/home/{{ main_username }}/scripts"
  when: pull_backup == true

### LEGO variable
- name: populate /etc/environment
  lineinfile:
    dest: "/etc/environment"
    state: present
    regexp: "^HETZNER_API_TOKEN="
    line: "HETZNER_API_TOKEN={{ secret_hetzner_token }}"

### Wireguard/Tailscale
- name: Enable IPv4 forwarding
  sysctl:
    name: net.ipv4.ip_forward
    value: 1
    reload: yes
- name: Enable IPv6 forwarding
  sysctl:
    name: net.ipv6.conf.all.forwarding
    value: 1
    reload: yes

- name: Create wireguard conf
  copy:
    dest: /etc/wireguard/wg0.conf
    owner: root
    group: root
    mode: 0600
    content: "{{ secret_ambition_wireguard_config }}"
  notify:
    - start wireguard service

### UFW Rules
- name: Set UFW Rules
  community.general.ufw:
    rule: "{{ item.rule | default (omit) }}"
    port: "{{ item.port | default (omit) }}"
    proto: "{{ item.proto | default (omit) }}"
    comment: "{{ item.comment | default (omit) }}"
    interface: "{{ item.interface | default (omit) }}"
    direction: "{{ item.direction | default (omit) }}"
    route: "{{ item.route | default (omit) }}"
  loop: "{{ ufw }}"

- name: Reload UFW
  community.general.ufw:
    state: enabled

### Caddy UDP Buffer Size
- name: Set UDP buffer sizes for Caddy QUIC
  sysctl:
    name: "{{ item.name }}"
    value: "{{ item.value }}"
    state: present
    sysctl_file: /etc/sysctl.d/99-caddy.conf
    reload: yes
  loop:
    - { name: net.core.rmem_max, value: 7500000 }
    - { name: net.core.wmem_max, value: 7500000 }

### Caddy systemd Override to speed up restart
- name: Create caddy systemd drop-in directory
  file:
    path: /etc/systemd/system/caddy.service.d
    state: directory
    mode: '0755'

- name: Configure caddy systemd drop-in
  copy:
    dest: /etc/systemd/system/caddy.service.d/override.conf
    content: |
      [Service]
      TimeoutStopSec=10s
      KillMode=mixed

- name: Reload systemd service
  systemd:
    enabled: true
    daemon-reload: true
    state: started
    name: caddy.service
    no_block: true
