backends:
  synology_plugins:
    type: sftp
    path: {{main_username}}@synology:/Restic/mercy/plugins
    key: {{ secret_restic_repo_password }}
    env: {}
  synology_local
    type: sftp
    path: {{main_username}}@synology:/Restic/mercy/local
    key: {{ secret_restic_repo_password }}
    env: {}
  synology_telegram:
    type: sftp
    path: {{main_username}}@synology:/Restic/mercy/telegram
    key: {{ secret_restic_repo_password }}
    env: {}
locations:
  plugins:
    from: '/home/{{main_username}}/hangoutsbot/hangupsbot/plugins'
    to: 
      - synology_plugins
    options:
      forget:
        keep-last: 10
  local:
    from: '/home/{{main_username}}/.local/share/hangupsbot'
    to: 
      - synology_local
    options:
      forget:
        keep-last: 10
  telegram:
    from: '/home/{{main_username}}/.telegram-cli'
    to: 
      - synology_telegram
    options:
      forget:
        keep-last: 10