mqtt:
  prefix: lnxlink
  clientId: {{ hostname }}
  server: 192.168.30.5
  port: 1883
  auth:
    user: homeassistant
    pass: {{ secret_mqtt_pass }}
    tls: false
    keyfile: ''
    certfile: ''
    ca_certs: ''
  discovery:
    enabled: true
  lwt:
    enabled: true
    qos: 1
    retain: true
update_interval: 15
hass_url: null
hass_api: null
modules:
- network
- cpu
- update
- memory
- restart
{% if lnxlink_desktop %}
- microphone_used
- speaker_used
- suspend
{% endif %}
{% if lnxlink_shutdown %}
- shutdown
{% endif %}
{% if lnxlink_temperature %}
- temperature
{% endif %}
{% if lnxlink_mounts %}
- mounts
{% endif %}
{% if lnxlink_diskuse %}
- disk_usage
{% endif %}
{% if lnxlink_bash %}
- bash
{% endif %}
custom_modules: null
exclude: null
settings:
  hotkeys: null
{% if ansible_hostname == "ishap" %}
  mounts:
    autocheck: false
    directories:
    - /mnt/Backup
  disk_usage:
    include_disks:
      - /dev/mapper/pve-root
    exclude_disks: []
{% elif ansible_hostname == "adonalsium" %}
  mounts:
    autocheck: false
    directories:
    - /mnt/Media
  disk_usage:
    include_disks:
      - /dev/mapper/pve-root
    exclude_disks: []
{% else %}
  mounts:
    autocheck: false
    directories: []
  disk_usage:
    include_disks: []
    exclude_disks: []
{% endif %}
{% if ansible_hostname == "ishap" %}
  bash:
    expose:
    - name: Start Trell
      command: /usr/sbin/qm start 300
    - name: Stop Trell
      command: /usr/sbin/qm stop 300
    - name: Start Invention
      command: /usr/sbin/pct start 210
    - name: Stop Invention
      command: /usr/sbin/pct stop 210
{% elif ansible_hostname == "Autonomy" %}
  bash:
    expose:
    - name: Cast Traffic
      command: /home/{{main_username}}/scripts/cast_traffic.sh
    - name: Cast Front Door
      command: /home/{{main_username}}/scripts/cast_frontdoor.sh
    - name: Cast Weather
      command: /home/{{main_username}}/scripts/cast_weather.sh
    - name: Update HASS
      command: /home/{{main_username}}/scripts/update_hass.sh
{% else %}
  bash:
    expose: []
{% endif %}
  systemd: null
  gpio:
    inputs: null
    outputs: null
  statistics: https://analyzer.bkbilly.workers.dev
