mqtt:
  prefix: lnxlink
  clientId: {{ hostname }}
  server: 192.168.30.5
  port: 1883
  auth:
    user: homeassistant
    pass: {{ secret_mqtt_pass }}
    tls: false
    keyfile: ''
    certfile: ''
    ca_certs: ''
  discovery:
    enabled: true
  lwt:
    enabled: true
    qos: 1
    retain: false
update_interval: 5
hass_url: null
hass_api: null
modules:
# All
- network
- cpu
- update
- memory
- disk_usage
- restart
{% if lnxlink_desktop %}
- audio_select
- microphone_used
- screen_onoff
- shutdown
- speaker_used
- suspend
{% endif %}
{% if lnxlink_temperature %}
- temperature
{% endif %}
{% if lnxlink_bash %}
- bash
{% endif %}
custom_modules: null
exclude: null
settings:
  hotkeys: null
  disk_usage:
    include_disks: []
    exclude_disks: []
  bash:
    expose: null
  systemd: null
  gpio:
    inputs: null
    outputs: null
  statistics: https://analyzer.bkbilly.workers.dev
