{
	log {
		output file /home/{{ main_username }}/caddy/access.log {
			roll_size 10mb
			roll_keep 5
			roll_keep_for 168h
		}
	}
	email {{ secret_email }}
	servers {
		trusted_proxies static 10.10.10.1/32
	}
}

(headers) {
	header {
		Permissions-Policy interest-cohort=()
		Strict-Transport-Security "max-age=31536000; includeSubdomains"
		X-XSS-Protection "1; mode=block"
		X-Content-Type-Options "nosniff"
		X-Robots-Tag noindex, nofollow
		Referrer-Policy "same-origin"
		Content-Security-Policy "frame-ancestors {{ secret_personal_url }} *.{{ secret_personal_url }}"
		-Server
		Permissions-Policy "geolocation=(self {{ secret_personal_url }} *.{{ secret_personal_url }}), microphone=()"
	}
}

# Gotify
gotify.{{ secret_personal_url }} {
	reverse_proxy https://10.10.10.1:443  {
			transport http {
				tls_server_name gotify.{{ secret_personal_url }}
			}
	}
	tls /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_url }}.crt /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_url }}.key
	import headers
}

# Uptime-Kuma
uptime.{{ secret_personal_url }} {
	reverse_proxy https://10.10.10.1:443  {
			transport http {
				tls_server_name uptime.{{ secret_personal_url }}
			}
	}
	tls /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_url }}.crt /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_url }}.key
	import headers
}
####

# HomeAssistant
smarthome.{{ secret_personal_url }} {
	reverse_proxy http://192.168.30.5:8123
	tls /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_url }}.crt /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_url }}.key
	import headers
}
# Bitwarden
bitwarden.{{ secret_personal_url }} {
	reverse_proxy http://192.168.50.21:6482
	tls /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_url }}.crt /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_url }}.key
	import headers
}
# FreshRSS
news.{{ secret_personal_url }} {
	reverse_proxy http://192.168.50.21:8010
	tls /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_url }}.crt /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_url }}.key
	import headers
}
# Code-Server
code.{{ secret_personal_url }} {
	reverse_proxy http://192.168.50.21:8443
	tls /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_url }}.crt /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_url }}.key
	import headers
}
# Jellyfin
media.{{ secret_personal_url }} {
	reverse_proxy http://192.168.50.20:8096
	header X-Forwarded-Host {host}
	tls /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_url }}.crt /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_url }}.key
	import headers
}
# Nextcloud
cloud.{{ secret_personal_url }} {
	reverse_proxy http://192.168.50.20:3491
	tls /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_url }}.crt /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_url }}.key
	import headers
	rewrite /.well-known/carddav /remote.php/carddav
	rewrite /.well-known/caldav /remote.php/caldav
}
calendar.{{ secret_personal_url }} {
	redir /* https://cloud.{{ secret_personal_url }}/apps/calendar/ 301
}
# Collabora
office.{{ secret_personal_url }} {
	encode gzip
	reverse_proxy https://192.168.50.21:9980 {
		transport http {
			tls_insecure_skip_verify
		}
	}
	tls /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_url }}.crt /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_url }}.key
	import headers
}
# Radarr
radarr.{{ secret_personal_url }} {
	reverse_proxy http://192.168.50.20:7878
	tls /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_url }}.crt /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_url }}.key
	import headers
}
# Sonarr
sonarr.{{ secret_personal_url }} {
	reverse_proxy http://192.168.50.20:8989
	tls /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_url }}.crt /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_url }}.key
	import headers
}
# Wallabag
wallabag.{{ secret_personal_url }} {
	reverse_proxy http://192.168.50.21:300
	tls /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_url }}.crt /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_url }}.key
	import headers
}
# Invidious
video.{{ secret_personal_url }} {
	reverse_proxy http://192.168.50.21:3500
	tls /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_url }}.crt /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_url }}.key
	import headers
}
# Ferdium
ferdium.{{ secret_personal_url }} {
	reverse_proxy http://192.168.50.21:3333
	tls /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_url }}.crt /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_url }}.key
	import headers
}
# Matrix
matrix.{{ secret_personal_url }} {
	reverse_proxy http://192.168.50.5:8008
	tls /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_url }}.crt /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_url }}.key
	import headers
}
# Cinny
chat.{{ secret_personal_url }} {
	reverse_proxy http://192.168.50.5:3000
	tls /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_url }}.crt /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_url }}.key
	import headers
}
# ChangeDetection
change.{{ secret_personal_url }} {
	reverse_proxy http://192.168.50.21:5000
	tls /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_url }}.crt /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_url }}.key
	import headers
}
# Navidrome
music.{{ secret_personal_url }} {
	reverse_proxy http://192.168.50.20:4533
	tls /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_url }}.crt /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_url }}.key
	import headers
}
# Notes
notes.{{ secret_personal_url }} {
	reverse_proxy http://192.168.50.22:5984
	tls /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_url }}.crt /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_url }}.key
	import headers
}

######

# Nodered
nodered.{{ secret_personal_internal_url }} {
	reverse_proxy http://192.168.30.5:1880
	tls /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_internal_url }}.crt /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_internal_url }}.key
	import headers
}
# Uptime
uptime.{{ secret_personal_internal_url }} {
	reverse_proxy http://192.168.1.10:3001
	tls /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_internal_url }}.crt /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_internal_url }}.key
	import headers
}
# Frigate
frigate.{{ secret_personal_internal_url }} {
	reverse_proxy http://192.168.1.10:5000
	tls /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_internal_url }}.crt /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_internal_url }}.key
	import headers
}
# Zwavejs
zwavejs.{{ secret_personal_internal_url }} {
	reverse_proxy http://192.168.1.11:8091
	tls /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_internal_url }}.crt /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_internal_url }}.key
	import headers
}
# Z2MQTTT
z2m.{{ secret_personal_internal_url }} {
	reverse_proxy http://192.168.1.11:8080
	tls /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_internal_url }}.crt /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_internal_url }}.key
	import headers
}
# Paperless
paperless.{{ secret_personal_internal_url }} {
	reverse_proxy http://192.168.50.21:8000
	tls /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_internal_url }}.crt /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_internal_url }}.key
	import headers
}
# Portainer
portainer.{{ secret_personal_internal_url }} {
	reverse_proxy http://192.168.1.10:9000
	tls /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_internal_url }}.crt /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_internal_url }}.key
	import headers
}
# Adguard (Honor)
adguard.{{ secret_personal_internal_url }} {
	reverse_proxy http://192.168.50.10:81
	tls /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_internal_url }}.crt /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_internal_url }}.key
	import headers
}
# Adguard (Unity)
adguard2.{{ secret_personal_internal_url }} {
	reverse_proxy http://192.168.1.11:81
	tls /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_internal_url }}.crt /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_internal_url }}.key
	import headers
}
# Tinmind
tinmind.{{ secret_personal_internal_url }} {
	reverse_proxy http://192.168.30.25.5000
	tls /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_internal_url }}.crt /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_internal_url }}.key
	import headers
}
# Radarr UHD
radarr_uhd.{{ secret_personal_internal_url }} {
	reverse_proxy http://192.168.50.20:7879
	tls /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_internal_url }}.crt /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_internal_url }}.key
	import headers
}
# Sabnzbd
sabnzb.{{ secret_personal_internal_url }} {
	reverse_proxy http://192.168.50.20:8060
	tls /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_internal_url }}.crt /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_internal_url }}.key
	import headers
}
# Prowlarr
prowlarr.{{ secret_personal_internal_url }} {
	reverse_proxy http://192.168.50.22:9696
	tls /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_internal_url }}.crt /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_internal_url }}.key
	import headers
}
# Jellyseerr
jellyseer.{{ secret_personal_internal_url }} {
	reverse_proxy http://192.168.50.20:5055
	tls /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_internal_url }}.crt /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_internal_url }}.key
	import headers
}
# Influx
influx.{{ secret_personal_internal_url }} {
	reverse_proxy http://192.168.50.22:8086
	tls /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_internal_url }}.crt /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_internal_url }}.key
	import headers
}
# Scrutiny
scrutiny.{{ secret_personal_internal_url }} {
	reverse_proxy http://192.168.1.10:8080
	tls /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_internal_url }}.crt /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_internal_url }}.key
	import headers
}
# Handbrake
handbrake.{{ secret_personal_internal_url }} {
	reverse_proxy http://192.168.1.10:5800
	tls /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_internal_url }}.crt /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_internal_url }}.key
	import headers
}
# Diagrams.net
draw.{{ secret_personal_internal_url }} {
	reverse_proxy http://192.168.50.21:8080
	tls /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_internal_url }}.crt /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_internal_url }}.key
	import headers
}
# Wireguard (Honor)
wghonor.{{ secret_personal_internal_url }} {
	reverse_proxy http://192.168.50.21:8080
	tls /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_internal_url }}.crt /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_internal_url }}.key
	import headers
}
# Wireguard (Ambition)
wgvps.{{ secret_personal_internal_url }} {
	reverse_proxy http://remote.fuzzymistborn.com:51821
	tls /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_internal_url }}.crt /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_internal_url }}.key
	import headers
}
# Traffic
traffic.{{ secret_personal_internal_url }} {
	file_server
	root * /home/{{ main_username }}/web
	tls /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_internal_url }}.crt /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_internal_url }}.key
	import headers
}
# ESPHome
esphome.{{ secret_personal_internal_url }} {
	reverse_proxy http://192.168.30.5:6052
	tls /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_internal_url }}.crt /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_internal_url }}.key
	import headers
}
# Calibre
calibre.{{ secret_personal_internal_url }} {
	reverse_proxy http://192.168.1.10:8085
	tls /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_internal_url }}.crt /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_internal_url }}.key
	import headers
}
# Calibre-Web
read.{{ secret_personal_internal_url }} {
	reverse_proxy http://192.168.50.20:8083
	tls /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_internal_url }}.crt /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_internal_url }}.key
	import headers
}
# Spoolman
filament.{{ secret_personal_internal_url }} {
	reverse_proxy http://192.168.50.21:7912
	tls /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_internal_url }}.crt /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_internal_url }}.key
	import headers
}
# Ollama
ai.{{ secret_personal_internal_url }} {
	reverse_proxy http://192.168.1.57:3010
	tls /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_internal_url }}.crt /home/{{ main_username }}/lego/certificates/_.{{ secret_personal_internal_url }}.key
	import headers
}
