; --------------------------------------------------------------------
; Skyscraper by Lars Muldjord (https://github.com/muldjord/skyscraper)
; --------------------------------------------------------------------

[main]
frontend="pegasus"
artworkXml="{{ pegasus_metadata_dir }}/artwork.xml"
cacheCovers="true"
cacheScreenshots="true"
cacheWheels="true"
cacheMarquees="true"
cacheVideos="true"

[atari2600]
inputFolder="{{ pegasus_roms_dir }}/atari2600"
;excludeFiles="*[BIOS]*"
;includeFiles="Super*"
gameListFolder="{{ pegasus_metadata_dir }}/roms/atari2600"
mediaFolder="{{ pegasus_metadata_dir }}/roms/atari2600/media"
cacheFolder="/home/retro/.skyscraper/cache/atari2600"
;cacheResize="false"
;nameTemplate="%t [%f], %P player(s)"
;jpgQuality="95"
launch="retroarch -f -L {{ pegasus_core_dir }}/stella_libretro.so '{file.path}'"
;videos="false"
;videoSizeLimit="42"
;extensions="*.zip *.uae *.adf"
;addExtensions="*.zst *.rom"

[gb]
inputFolder="{{ pegasus_roms_dir }}/gb"
;excludeFiles="*[BIOS]*"
;includeFiles="Super*"
gameListFolder="{{ pegasus_metadata_dir }}/roms/gb"
mediaFolder="{{ pegasus_metadata_dir }}/roms/gb/media"
cacheFolder="/home/retro/.skyscraper/cache/gb"
;cacheResize="false"
;nameTemplate="%t [%f], %P player(s)"
;jpgQuality="95"
launch="retroarch -f -L {{ pegasus_core_dir }}/gambatte_libretro.so '{file.path}'"
;videos="false"
;videoSizeLimit="42"
;extensions="*.zip *.uae *.adf"
;addExtensions="*.zst *.rom"

[gba]
inputFolder="{{ pegasus_roms_dir }}/gba"
;excludeFiles="*[BIOS]*"
;includeFiles="Super*"
gameListFolder="{{ pegasus_metadata_dir }}/roms/gba"
mediaFolder="{{ pegasus_metadata_dir }}/roms/gba/media"
cacheFolder="/home/retro/.skyscraper/cache/gba"
;cacheResize="false"
;nameTemplate="%t [%f], %P player(s)"
;jpgQuality="95"
launch="retroarch -f -L {{ pegasus_core_dir }}/mgba_libretro.so '{file.path}'"
;videos="false"
;videoSizeLimit="42"
;extensions="*.zip *.uae *.adf"
;addExtensions="*.zst *.rom"

[gbc]
inputFolder="{{ pegasus_roms_dir }}/gbc"
;excludeFiles="*[BIOS]*"
;includeFiles="Super*"
gameListFolder="{{ pegasus_metadata_dir }}/roms/gbc"
mediaFolder="{{ pegasus_metadata_dir }}/roms/gbc/media"
cacheFolder="/home/retro/.skyscraper/cache/gbc"
;cacheResize="false"
;nameTemplate="%t [%f], %P player(s)"
;jpgQuality="95"
launch="retroarch -f -L {{ pegasus_core_dir }}/gambatte_libretro.so '{file.path}'"
;videos="false"
;videoSizeLimit="42"
;extensions="*.zip *.uae *.adf"
;addExtensions="*.zst *.rom"

[gc]
inputFolder="{{ pegasus_roms_dir }}/gc"
;excludeFiles="*[BIOS]*"
;includeFiles="Super*"
gameListFolder="{{ pegasus_metadata_dir }}/roms/gc"
mediaFolder="{{ pegasus_metadata_dir }}/roms/gc/media"
cacheFolder="/home/retro/.skyscraper/cache/gc"
;cacheResize="false"
;nameTemplate="%t [%f], %P player(s)"
;jpgQuality="95"
launch="retroarch -f -L {{ pegasus_core_dir }}/dolphin_libretro.so '{file.path}'"
;videos="false"
;videoSizeLimit="42"
;extensions="*.zip *.uae *.adf"
;addExtensions="*.zst *.rom"

[genesis]
inputFolder="{{ pegasus_roms_dir }}/genesis"
;excludeFiles="*[BIOS]*"
;includeFiles="Super*"
gameListFolder="{{ pegasus_metadata_dir }}/roms/genesis"
mediaFolder="{{ pegasus_metadata_dir }}/roms/genesis/media"
cacheFolder="/home/retro/.skyscraper/cache/genesis"
;cacheResize="false"
;nameTemplate="%t [%f], %P player(s)"
;jpgQuality="95"
launch="retroarch -f -L {{ pegasus_core_dir }}/blastem_libretro.so '{file.path}'"
;videos="false"
;videoSizeLimit="42"
;extensions="*.zip *.uae *.adf"
;addExtensions="*.zst *.rom"

[n64]
inputFolder="{{ pegasus_roms_dir }}/n64"
;excludeFiles="*[BIOS]*"
;includeFiles="Super*"
gameListFolder="{{ pegasus_metadata_dir }}/roms/n64"
mediaFolder="{{ pegasus_metadata_dir }}/roms/n64/media"
cacheFolder="/home/retro/.skyscraper/cache/n64"
;cacheResize="false"
;nameTemplate="%t [%f], %P player(s)"
;jpgQuality="95"
launch="retroarch -f -L {{ pegasus_core_dir }}/mupen64plus_next_libretro.so '{file.path}'"
;videos="false"
;videoSizeLimit="42"
;extensions="*.zip *.uae *.adf"
;addExtensions="*.zst *.rom"

[nes]
inputFolder="{{ pegasus_roms_dir }}/nes"
;excludeFiles="*[BIOS]*"
;includeFiles="Super*"
gameListFolder="{{ pegasus_metadata_dir }}/roms/nes"
mediaFolder="{{ pegasus_metadata_dir }}/roms/nes/media"
cacheFolder="/home/retro/.skyscraper/cache/nes"
;cacheResize="false"
;nameTemplate="%t [%f], %P player(s)"
;jpgQuality="95"
launch="retroarch -f -L {{ pegasus_core_dir }}/nestopia_libretro.so '{file.path}'"
;videos="false"
;videoSizeLimit="42"
;extensions="*.zip *.uae *.adf"
;addExtensions="*.zst *.rom"

[ps2]
inputFolder="{{ pegasus_roms_dir }}/ps2"
;excludeFiles="*[BIOS]*"
;includeFiles="Super*"  
gameListFolder="{{ pegasus_metadata_dir }}/roms/ps2"
mediaFolder="{{ pegasus_metadata_dir }}/roms/ps2/media"
cacheFolder="/home/retro/.skyscraper/cache/ps2"
;cacheResize="false"
;nameTemplate="%t [%f], %P player(s)"
;jpgQuality="95"
launch="retroarch -f -L {{ pegasus_core_dir }}/pcsx2_libretro.so '{file.path}'"
;videos="false"
;videoSizeLimit="42"
;extensions="*.zip *.uae *.adf"
;addExtensions="*.zst *.rom"

[psx]
inputFolder="{{ pegasus_roms_dir }}/psx"
;excludeFiles="*[BIOS]*"
;includeFiles="Super*"  
gameListFolder="{{ pegasus_metadata_dir }}/roms/psx"
mediaFolder="{{ pegasus_metadata_dir }}/roms/psx/media"
cacheFolder="/home/retro/.skyscraper/cache/psx"
;cacheResize="false"
;nameTemplate="%t [%f], %P player(s)"
;jpgQuality="95"
launch="retroarch -f -L {{ pegasus_core_dir }}/duckstation_libretro.so '{file.path}'"
;videos="false"
;videoSizeLimit="42"
;extensions="*.zip *.uae *.adf"
;addExtensions="*.zst *.rom"

[snes]
inputFolder="{{ pegasus_roms_dir }}/snes"
;excludeFiles="*[BIOS]*"
;includeFiles="Super*"  
gameListFolder="{{ pegasus_metadata_dir }}/roms/snes"
mediaFolder="{{ pegasus_metadata_dir }}/roms/snes/media"
cacheFolder="/home/retro/.skyscraper/cache/snes"
;cacheResize="false"
;nameTemplate="%t [%f], %P player(s)"
;jpgQuality="95"
launch="retroarch -f -L {{ pegasus_core_dir }}/bsnes_libretro.so '{file.path}'"
;videos="false"
;videoSizeLimit="42"
;extensions="*.zip *.uae *.adf"
;addExtensions="*.zst *.rom"

[wii]
inputFolder="{{ pegasus_roms_dir }}/wii"
;excludeFiles="*[BIOS]*"
;includeFiles="Super*"
gameListFolder="{{ pegasus_metadata_dir }}/roms/wii"
mediaFolder="{{ pegasus_metadata_dir }}/roms/wii/media"
cacheFolder="/home/retro/.skyscraper/cache/wii"
;cacheResize="false"
;nameTemplate="%t [%f], %P player(s)"
;jpgQuality="95"
launch="retroarch -f -L {{ pegasus_core_dir }}/dolphin_libretro.so '{file.path}'"
;videos="false"
;videoSizeLimit="42"
;extensions="*.zip *.uae *.adf"
;addExtensions="*.zst *.rom"

[screenscraper]
userCreds="{{ secret_screenscraper_user_pass }}"

[esgamelist]
cacheRefresh="true"

[import]
cacheRefresh="true"
