{% if ansible_hostname == 'RetroArch-TV' %}
{{ pegasus_metadata_dir }}/apps
{% else %}
{% endif %}
{{ pegasus_metadata_dir }}/roms/atari2600
{{ pegasus_metadata_dir }}/roms/gb
{{ pegasus_metadata_dir }}/roms/gba
{{ pegasus_metadata_dir }}/roms/gbc
{{ pegasus_metadata_dir }}/roms/gc
{{ pegasus_metadata_dir }}/roms/genesis
{{ pegasus_metadata_dir }}/roms/n64
{{ pegasus_metadata_dir }}/roms/nes
{{ pegasus_metadata_dir }}/roms/ps2
{{ pegasus_metadata_dir }}/roms/psx
{{ pegasus_metadata_dir }}/roms/snes
{{ pegasus_metadata_dir }}/roms/wii