#!/bin/bash

# atari2600
Skyscraper -p atari2600 -f pegasus -s screenscraper -c {{ skyscraper_config_path }}
Skyscraper -p atari2600 -f pegasus -c {{ skyscraper_config_path }}

# gb
Skyscraper -p gb -f pegasus -s screenscraper -c {{ skyscraper_config_path }}
Skyscraper -p gb -f pegasus -c {{ skyscraper_config_path }}

# gba
Skyscraper -p gba -f pegasus -s screenscraper -c {{ skyscraper_config_path }}
Skyscraper -p gba -f pegasus -c {{ skyscraper_config_path }}

# gbc
Skyscraper -p gbc -f pegasus -s screenscraper -c {{ skyscraper_config_path }}
Skyscraper -p gbc -f pegasus -c {{ skyscraper_config_path }}

# gc
Skyscraper -p gc -f pegasus -s screenscraper -c {{ skyscraper_config_path }}
Skyscraper -p gc -f pegasus -c {{ skyscraper_config_path }}

# genesis
Skyscraper -p genesis -f pegasus -s screenscraper -c {{ skyscraper_config_path }}
Skyscraper -p genesis -f pegasus -c {{ skyscraper_config_path }}

# n64
Skyscraper -p n64 -f pegasus -s screenscraper -c {{ skyscraper_config_path }}
Skyscraper -p n64 -f pegasus -c {{ skyscraper_config_path }}

# nes
Skyscraper -p nes -f pegasus -s screenscraper -c {{ skyscraper_config_path }}
Skyscraper -p nes -f pegasus -c {{ skyscraper_config_path }}

# ps2
Skyscraper -p ps2 -f pegasus -s screenscraper -c {{ skyscraper_config_path }}
Skyscraper -p ps2 -f pegasus -c {{ skyscraper_config_path }}

# psx
Skyscraper -p psx -f pegasus -s screenscraper -c {{ skyscraper_config_path }}
Skyscraper -p psx -f pegasus -c {{ skyscraper_config_path }}

# snes
Skyscraper -p snes -f pegasus -s screenscraper -c {{ skyscraper_config_path }}
Skyscraper -p snes -f pegasus -c {{ skyscraper_config_path }}

# wii
Skyscraper -p wii -f pegasus -s screenscraper -c {{ skyscraper_config_path }}
Skyscraper -p wii -f pegasus -c {{ skyscraper_config_path }}
