#!/bin/sh
#
# You can have only one forced command in ~/.ssh/authorized_keys. Use this
# wrapper to allow several commands.

case "$SSH_ORIGINAL_COMMAND" in
    "sudo systemctl suspend")
        sudo systemctl suspend
        ;;
    "sudo reboot")
        sudo reboot
        ;;
    "amixer -D pulse sset Master mute")
        amixer -D pulse sset Master mute
        ;;
    "amixer -D pulse sset Master unmute")
        amixer -D pulse sset Master unmute
        ;;
    *)
        echo "Access denied"
        exit 1
        ;;
esac