# Read more about SSH config files: https://linux.die.net/man/5/ssh_config
Host omada
    HostName 192.168.1.10
    User {{ main_username }}
    IdentityFile ~/.ssh/kelsier_lxcs

Host adonalsium
    HostName 192.168.1.20
    User {{ main_username }}
    IdentityFile ~/.ssh/kelsier_lxcs

Host endowment
    HostName 192.168.50.20
    User {{ main_username }}
    IdentityFile ~/.ssh/kelsier_lxcs

Host autonomy
    HostName 192.168.30.12
    User {{ main_username }}
    IdentityFile ~/.ssh/kelsier_lxcs

Host drone
    HostName 192.168.50.15
    User {{ main_username }}
    IdentityFile ~/.ssh/kelsier_lxcs

Host cultivation
    HostName 192.168.50.21
    User {{ main_username }}
    IdentityFile ~/.ssh/kelsier_lxcs

Host preservation
    HostName 192.168.50.22
    User {{ main_username }}
    IdentityFile ~/.ssh/kelsier_lxcs
    
Host dominion
    HostName 192.168.10.15
    User {{ main_username }}
    IdentityFile ~/.ssh/kelsier_lxcs
    
Host honor
    HostName 192.168.50.10
    User {{ main_username }}
    IdentityFile ~/.ssh/kelsier_lxcs
    
Host valor
    HostName 192.168.50.11
    User {{ main_username }}
    IdentityFile ~/.ssh/kelsier_lxcs

Host hyperion
    HostName 192.168.30.21
    User pi
    IdentityFile ~/.ssh/kelsier_lxcs

Host retroarch
    HostName 192.168.10.40
    User retro
    IdentityFile ~/.ssh/kelsier_lxcs

Host linode
    HostName remote.fuzzymistborn.com
    User {{ main_username }}
    IdentityFile ~/.ssh/kelsier_vps

Host github.com
    IdentityFile ~/.ssh/github

Host parentsvpn
    HostName 192.168.1.200
    User pi
    IdentityFile ~/.ssh/parentsvpn