- id: reboot
  execute-command: "reboot"
  command-working-directory: "/sbin"

- id: suspend
  execute-command: "systemctl"
  command-working-directory: "/bin"
  pass-arguments-to-command:
    [{
      "source": "string",
      "name": "suspend"
    }]
