[Desktop Entry]
Name=MQTT Explorer
Exec=/home/{{ main_username }}/.local/bin/MQTT_Explorer.AppImage
Icon=/home/{{ main_username }}/.local/bin/MQTT_Explorer.png
Type=Application
Categories=Utility;Network;