[Greeter]
background=/home/{{ main_username }}/Nextcloud/Tech/Artwork/Login/WayofKings.jpg
draw-user-backgrounds=false
draw-grid=true
theme-name=Arc-Dark
icon-theme-name=Adwaita
cursor-theme-name=Adwaita
cursor-theme-size=24
show-a11y=false
show-power=false
background-color=#1a5fb4
