backends:
  synology_docker:
    type: s3
    path: 'http://192.168.30.25:9000/adonalsium'
    key: {{ secret_restic_repo_password }}
    env:
      AWS_ACCESS_KEY_ID: {{ secret_minio_s3_access_key_id }}
      AWS_SECRET_ACCESS_KEY: {{ secret_minio_s3_access_key }}
  synology_photos:
    type: s3
    path: 'http://192.168.30.25:9000/media/photos'
    key: {{ secret_restic_repo_password }}
    env:
      AWS_ACCESS_KEY_ID: {{ secret_minio_s3_access_key_id }}
      AWS_SECRET_ACCESS_KEY: {{ secret_minio_s3_access_key }}
  synology_music:
    type: s3
    path: 'http://192.168.30.25:9000/media/music'
    key: {{ secret_restic_repo_password }}
    env:
      AWS_ACCESS_KEY_ID: {{ secret_minio_s3_access_key_id }}
      AWS_SECRET_ACCESS_KEY: {{ secret_minio_s3_access_key }}
  synology_audiobooks:
    type: s3
    path: 'http://192.168.30.25:9000/media/audiobooks'
    key: {{ secret_restic_repo_password }}
    env:
      AWS_ACCESS_KEY_ID: {{ secret_minio_s3_access_key_id }}
      AWS_SECRET_ACCESS_KEY: {{ secret_minio_s3_access_key }}
  synology_files:
    type: s3
    path: 'http://192.168.30.25:9000/media/files'
    key: {{ secret_restic_repo_password }}
    env:
      AWS_ACCESS_KEY_ID: {{ secret_minio_s3_access_key_id }}
      AWS_SECRET_ACCESS_KEY: {{ secret_minio_s3_access_key }}
  b2_docker:
    type: b2
    path: '{{ secret_restic_b2_bucket }}:/adonalsium'
    key: {{ secret_restic_repo_password }}
    env:
      B2_ACCOUNT_ID: {{ secret_restic_b2_account_id }}
      B2_ACCOUNT_KEY: {{ secret_restic_b2_account_key }}
  b2_photos:
    type: b2
    path: '{{ secret_media_b2_bucket }}:/photos'
    key: {{ secret_restic_repo_password }}
    env:
      B2_ACCOUNT_ID: {{ secret_media_b2_account_id }}
      B2_ACCOUNT_KEY: {{ secret_media_b2_account_key }}
  b2_music:
    type: b2
    path: '{{ secret_media_b2_bucket }}:/music'
    key: {{ secret_restic_repo_password }}
    env:
      B2_ACCOUNT_ID: {{ secret_media_b2_account_id }}
      B2_ACCOUNT_KEY: {{ secret_media_b2_account_key }}
  b2_audiobooks:
    type: b2
    path: '{{ secret_media_b2_bucket }}:/audiobooks'
    key: {{ secret_restic_repo_password }}
    env:
      B2_ACCOUNT_ID: {{ secret_media_b2_account_id }}
      B2_ACCOUNT_KEY: {{ secret_media_b2_account_key }}
  b2_files:
    type: b2
    path: '{{ secret_media_b2_bucket }}:/files'
    key: {{ secret_restic_repo_password }}
    env:
      B2_ACCOUNT_ID: {{ secret_media_b2_account_id }}
      B2_ACCOUNT_KEY: {{ secret_media_b2_account_key }}
locations:
  docker:
    from: '/home/{{main_username}}/docker'
    to: 
      - synology_docker
      - b2_docker
    options:
      forget:
        keep-daily: 7
        keep-weekly: 8
        keep-monthly: 4
    hooks:
      success:
        - curl -fsS -m 10 --retry 5 -o /dev/null {{secret_hc_adonalsium_media_docker}}/0
      failure:
        - curl -fsS -m 10 --retry 5 -o /dev/null {{secret_hc_adonalsium_media_docker}}/fail
  photos:
    from: '/mnt/Media/Photos'
    to: 
      - synology_photos
      - b2_photos
    options:
      forget:
        keep-daily: 7
        keep-weekly: 8
        keep-monthly: 2
    hooks:
      success:
        - curl -fsS -m 10 --retry 5 -o /dev/null {{secret_hc_adonalsium_media_all}}/0
      failure:
        - curl -fsS -m 10 --retry 5 -o /dev/null {{secret_hc_adonalsium_media_all}}/fail
  music:
    from: '/mnt/Media/Music'
    to: 
      - synology_music
      - b2_music
    options:
      forget:
        keep-daily: 7
        keep-weekly: 4
        keep-monthly: 2
    hooks:
      success:
        - curl -fsS -m 10 --retry 5 -o /dev/null {{secret_hc_adonalsium_media_all}}/0
      failure:
        - curl -fsS -m 10 --retry 5 -o /dev/null {{secret_hc_adonalsium_media_all}}/fail
  audiobooks:
    from: '/mnt/Media/Audiobooks'
    to: 
      - synology_audiobooks
      - b2_audiobooks
    options:
      forget:
        keep-daily: 7
        keep-weekly: 4
        keep-monthly: 2
    hooks:
      success:
        - curl -fsS -m 10 --retry 5 -o /dev/null {{secret_hc_adonalsium_media_all}}/0
      failure:
        - curl -fsS -m 10 --retry 5 -o /dev/null {{secret_hc_adonalsium_media_all}}/fail
  files:
    from: '/mnt/Media/Files'
    to: 
      - synology_files
      - b2_files
    options:
      backup:
        exclude:
          - 'Takeout'
      forget:
        keep-daily: 7
        keep-weekly: 8
        keep-monthly: 4
    hooks:
      success:
        - curl -fsS -m 10 --retry 5 -o /dev/null {{secret_hc_adonalsium_media_all}}/0
      failure:
        - curl -fsS -m 10 --retry 5 -o /dev/null {{secret_hc_adonalsium_media_all}}/fail