- id: reboot
  execute-command: "reboot"
  command-working-directory: "/usr/bin"

- id: start_trell
  execute-command: "qm"
  command-working-directory: "/usr/sbin"
  pass-arguments-to-command:
      [{
        "source": "string",
        "name": "start"
      },
      {
        "source": "string",
        "name": "300"
      }]

- id: stop_trell
  execute-command: "qm"
  command-working-directory: "/usr/sbin"
  pass-arguments-to-command:
      [{
        "source": "string",
        "name": "stop"
      },
      {
        "source": "string",
        "name": "300"
      }]

- id: start_invention
  execute-command: "pct"
  command-working-directory: "/usr/sbin"
  pass-arguments-to-command:
      [{
        "source": "string",
        "name": "start"
      },
      {
        "source": "string",
        "name": "210"
      }]

- id: stop_invention
  execute-command: "pct"
  command-working-directory: "/usr/sbin"
  pass-arguments-to-command:
      [{
        "source": "string",
        "name": "stop"
      },
      {
        "source": "string",
        "name": "210"
      }]
