$ModLoad imfile
$InputFilePollInterval 3
# Jellyfin
$InputFileName /home/{{ main_username }}/docker/jellyfin/config/log/log*.log
$InputFileTag jellyfin:

$InputFileStateFile jellyfin-error
$InputRunFileMonitor

*.* @@{{secret_linode_ip}}:{{secret_rsyslog_port}}