services:
  omada-controller:
    image: mbentley/omada-controller:6.1
    container_name: omada-controller
    network_mode: host
    volumes:
      - "{{ appdata_path }}/omada/data:/opt/tplink/EAPController/data"
      - "{{ appdata_path }}/omada/work:/opt/tplink/EAPController/work"
      - "{{ appdata_path }}/omada/logs:/opt/tplink/EAPController/logs"
    environment:
      - UID={{ main_uid }}
      - GID={{ main_gid }}
      - PUID={{ main_uid }}
      - PGID={{ main_gid }}
      - TZ={{ ntp_timezone }}
      - MANAGE_HTTP_PORT=8088
      - MANAGE_HTTPS_PORT=8043
      - PORTAL_HTTP_PORT=8088
      - PORTAL_HTTPS_PORT=8843
      - SHOW_SERVER_LOGS=true
      - SHOW_MONGODB_LOGS=false
    restart: unless-stopped
  hawser:
    image: ghcr.io/finsys/hawser:0.2.29
    container_name: hawser
    volumes:
      - "{{ appdata_path }}/hawser:/data/stacks"
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - 2376:2376
    environment:
      - TOKEN={{ secret_hawser_key }}
    restart: unless-stopped
