#!/bin/bash

# Sends text messages using Telegram
# to alert webmaster of banning.

# Require one argument, one of the following
# start
# stop
# ban
# unban
# Optional second argument: Ip for ban/unband


# Display usage information
function show_usage {
  echo "Usage: $0 action <ip>"
  echo "Where action start, stop, ban, unban"
  echo "and IP is optional passed to ban, unban"
  exit
}

# Send notification
function send_msg {
  token="{{ secret_fail2ban_tg_api }}"
  chat_id={{ secret_fail2ban_tg_user }}

  curl -k --header 'Content-Type: application/json' \
    -d "{\"chat_id\":\"$chat_id\", \"parse_mode\":\"markdown\", \"text\":\"\ud83d\udd14 *Fail2ban* $message\"}" \
    --request POST https://api.telegram.org/bot$token/sendMessage
  exit
}


# Check for script arguments
if [ $# -lt 1 ]
then
  show_usage
fi


# Take action depending on argument
if [ "$1" = 'start' ]
then
  message="just started jail *$2*!"
  send_msg
elif [ "$1" = 'stop' ]
then
  message="just stopped jail *$2*!"
  send_msg
elif [ "$1" = 'ban' ]
then
  message=$([ "$2" != '' ] && echo "just banned IP $2 after $4 failed attempts against jail *$3*." || echo "just banned an ip." )
  send_msg
elif [ "$1" = 'unban' ]
then
  message=$([ "$2" != '' ] && echo "just unbanned $2" || echo "just banned unbanned an ip." )
  send_msg
else
  show_usage
fi
